@use 'sass:color';

@use '../../_variables.scss';
@use '../../_mixins.scss';

.hero-section {
    background-color: variables.$patch2025-hero-color;
    color: variables.$boot2025-white;

    display: flex;
    justify-content: space-between;

    img#logo {
        width: 200px;
        display: block;

    }

    .title {
        font-family: "Prata", serif;
        font-size: 48px;
        font-weight: 400;
        line-height: 64px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        margin-top: 0;
        margin-bottom: 0;
    }

    .subtitle {
        font-family: "Prata", serif;
        font-size: 36px;
        font-weight: 400;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        margin-bottom: 0;
    }

    p {
        &.hero-text {

            margin-top: 0;
            margin-bottom: 12px;
            max-width: 540px;
    
            font-family: "Open Sans", serif;
            font-size: 24px;
            font-weight: 400;
            line-height: 32.68px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }

        &.details {
            font-family: "Ubuntu Mono", serif;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 18px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
    
            margin: 4px 0;
        }

        &.bootloader {
            margin-bottom: 4px;
            font-family: "Open Sans", serif;
            font-size: 14px;
            font-weight: 700;
            line-height: 19.07px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }
    }


    div#partners {
        display: flex;
        flex-direction: column;

        gap: 16px;

        margin-top: 48px;

        div.bootloaders {
    
            display: flex;
            margin: auto;
    
            justify-content: space-between;
    


            img {
                height: 60px;
            }
    
            img.paytaca {
                height: 50px;
            }
    
            img.trabahadoor {
                height: 34px;
            }
        }

        @include mixins.tablets {
            flex-direction: row;
        }
    }

    div#button-section {
        margin-top: 8px;
        display: flex;

        gap: 16px;
    }

    

    div.hero-details {
        display: flex;
        margin: auto;

        align-items: center;

        img {
            height: 20px;
            margin-right: 8px;
        }
    }

    @include mixins.tablets {
        padding: 3%;
        padding-top: 0;
    }

    @include mixins.xlarge-screens {
        padding: 2%;
        padding-top: 0;
    }
}
