{% import 'pages/events/boot2025/_components.html' as boot2025_components %}

{% extends "pages/events/_subpage.html" %}
{% set active_page = "Events" %}
{% set preregistration = true%}

{% block title %}Dev8 BOOT 2025{% endblock %}
{% block relative_url %}boot2025{% endblock %}

{% block opengraph_desc %}Kickstart your 2025 with new learnings and discoveries!{% endblock %}
{% block opengraph_img_desc %}View the Dev8 Boot 2025 details here!{% endblock %}
{% block opengraph_og_img %}/assets/events/boot2025/img/socials/og-fb-image.png{% endblock %}
{% block opengraph_twt_img %}/assets/events/boot2025/img/socials/og-twt-image.png{% endblock %}

{% block css %}<link href="/assets/events/boot2025/css/index.css" rel="stylesheet" type="text/css">{% endblock %}
{% block content %}

<main>
    {% include 'pages/events/boot2025/_hero-section.html' %}

    <supersection class="dark-grey-area">
    <section class="container">
        <img class="section-head-image" src="/assets/events/boot2025/img/icons/old-computer-01.png" alt="Old pixelated computer">
        <h1>New Year, New Start</h1>
        <p class="description">
            A new year means another opportunity for growth, learning, and, most importantly, starting up with something new. Inspired from the technical term of “booting up” a computer, Dev8 is introducing its newest event, <span>Dev8 BOOT 2025</span>, a virtual conference for Eastern Visayas that aims to provide a platform for knowledge sharing and inspiring developers, students, and tech enthusiasts to do amazing things in <span>2025</span>.
        </p>
    </section>

    <section class="top-pad-remove container">
        <img class="section-head-image" src="/assets/events/boot2025/img/icons/lightbulb.png" alt="Lightbulb">
        <h1>Speakers</h1>
        <p class="description">
        {% if preregistration %}
            We're still working on finalizing the list of speakers for this year's Dev8 BOOT, and searching for people who would love to share their knowledge and love for tech. We're making sure that you'll meet a wonderful set of people you can learn from and be inspired by. Currently, we're looking for developers with personal projects they can share.
        {% else %}
            We have a superb line of talks and demonstrations that you can learn from and be inspired by.
        {% endif %}
        </p>

        {% if not preregistration %}
        <div id="speakers">
            {# ["Talk Title", "Slide Image", "Talk Description", "Speaker", "Speaker Pic", "Speaker Description"] #}
            {% for title, slide_image, talk_desc, speaker, speaker_pic, speaker_desc in boot2025_speakers['data']%}
            <div class="speaker">
                <div class="window-tab">
                    <div class="window-title">[{{speaker}}] {{title}}</div>
                    <img class="close-button" src="/assets/events/boot2025/img/close_button.svg">
                </div>
                <img class="slide-image" src="/assets/events/boot2025/img/{{slide_image}}">
                <h1>{{title}}</h1>
                <h2>{{speaker}}</h2>
                <p>{{talk_desc}}</p>
                <img class="speaker-image" src="/assets/events/boot2025/img/{{speaker_pic}}">
                <p><strong>{{speaker}}</strong> {{speaker_desc}}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </section>

    <section class="top-pad-remove container">
        <img class="section-head-image" src="/assets/events/boot2025/img/icons/message.png" alt="Message">
        <h1>Messages</h1>
        
        <div class="emcees">
            {% for img, name, descrip, socials, type in boot2025_organizers["data"] if  name == "Sean Ballais" %}
            <div class="organizer">
                <div class="speaker-title">
                    <p >Introduction and Welcome/Closing Remarks</p>
                </div>
                <img class="speaker-image" src="/assets/events/boot2025/img/{{ img }}">
                <p class="emcee-name">
                    {{ name }}
                </p>
                <p class="emcee">
                    {{ descrip }}
                </p>
                <div class="socials">
                    {% for social_type, link in socials %}
                    <a href="{{link}}"><img src="/assets/events/boot2025/img/icons/social_{{social_type}}.png"></a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            {% for img, name, descrip, socials, type in boot2025_organizers["data"] if  name == "Atty. Melvyn Barroa" %}
            <div class="organizer">
                <div class="speaker-title">
                    <p>Inspiration Message</p>
                </div>
                <img class="speaker-image" src="/assets/events/boot2025/img/{{ img }}">
                <p class="emcee-name">
                    {{ name }}
                </p>
                <p class="emcee">
                    {{ descrip }}
                </p>
                <div class="socials">
                    {% for social_type, link in socials %}
                    <a href="{{link}}"><img src="/assets/events/boot2025/img/icons/social_{{social_type}}.png"></a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="top-pad-remove container">
        <img class="section-head-image" src="/assets/events/boot2025/img/icons/microphone.png" alt="Microphone">
        <h1>Emcee</h1>
        
        <div class="emcees">
            {% for img, name, descrip, socials, type in boot2025_organizers["data"] if name == "Aris Artates" %}
            <div class="organizer">
                <img class="speaker-image" src="/assets/events/boot2025/img/{{ img }}">
                <p class="emcee-name">
                    {{ name }}
                </p>
                <p class="emcee">
                    {{ descrip }}
                </p>
                <div class="socials">
                    {% for social_type, link in socials %}
                    <a href="{{link}}"><img src="/assets/events/boot2025/img/icons/social_{{social_type}}.png"></a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            {% for img, name, descrip, socials, type in boot2025_organizers["data"] if name == "Arvin Arguilles" %}
            <div class="organizer">
                <img class="speaker-image" src="/assets/events/boot2025/img/{{ img }}">
                <p class="emcee-name">
                    {{ name }}
                </p>
                <p class="emcee">
                    {{ descrip }}
                </p>
                <div class="socials">
                    {% for social_type, link in socials %}
                    <a href="{{link}}"><img src="/assets/events/boot2025/img/icons/social_{{social_type}}.png"></a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>


    {# data/events/boot2025/schedule.json boot2025_schedule#}
    <section class="top-pad-remove container">
        <img class="section-head-image" src="/assets/events/boot2025/img/icons/calendar.png" alt="Calendar">
        <h1>Schedule and Venue</h1>
        <p class="description">
            <span>Dev8 BOOT 2025</span> will be held on February 15, 2025 from 1:00 PM to 6:00 PM (Philippine Standard Time) via <span>Zoom</span>. Alternatively, you may also join the event via <span>Facebook Live (Dev8 Facebook Page)</span>.
        </p>
        <table>
            <tr>
                <th scope="col" colspan="2">Time</th>
                <th scope="col">Activity</th>
            </tr>
            {% for timeIn, timeOut, activity in boot2025_schedule['data'] %}
            <tr>
                <td class="time">{{ timeIn }}</td>
                <td class="time">{{ timeOut }}</td>
                <td class="activity">{{ activity }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>

    </supersection>

    <supersection class="grey-area">
    <section id="adventure" class="flex container">
        <div class="adventure-header">
            <img class="section-head-image" src="/assets/events/boot2025/img/lightning.png" alt="Lightning">
            <h1>Boot Up Your Year</h1>
        </div>
        <div class="speaker">
            <div class="window-tab">
                <div class="window-title">Boot Up Your Year</div>
                <img class="close-button" src="/assets/events/boot2025/img/close_button.svg">
            </div>
            <img class="fit-image" src="/assets/events/boot2025/img/adventure.png">
        </div>
        
        <div class="adv-description">
            {#
            <img class="section-head-image" src="/assets/events/boot2025/img/icons/lightning.png" alt="Lightning">
            <h1>Boot Up Your Year</h1>
            #}
            {# <h1>Join the Adventure</h1> #}
            <p class="top-margin-remove">
                Join us via <span>Zoom</span> and receive certificates of participation and a chance to win a raffle prize<sup>[1]</sup>. <span><a href="/events/boot2025/registration">Register now</a> before it's too late!</span>
            </p>
            <p>
                <span>Working for the city/municipality LGUs</span> <em>of Tacloban City, Ormoc City, Calbayog City, Baybay City, Borongan City, Catarman, Catbalogan City, Maasin City,</em> or <em>Naval</em>? We are reserving Zoom slot reservations for your office. We have sent formal invitations already. Please check with your office if you can avail of reserved slots. They're only reserved until <span>February 7, 2025</span>.
            </p>
            <p>
                <span>Part of Dev8, Valarx Projects, DICT 8, or Paytaca?</span> We also have reserved slots for our community and your organization. Please check internally first if and when you can avail of a reserved slot.
            </p>
            {{ boot2025_components.registration_button() }}
            <div class="raffle-disclaimer">
                <p><sup>[1]</sup>The raffle is limited to professionals and the unemployed.</p>
            </div>
        </div>
    </section>

    <section class="container">
        <img class="section-head-image" src="/assets/events/boot2025/img/icons/coc.png" alt="Code of Conduct">
        <h1>Code of Conduct</h1>
        <p class="description">
            <span>Dev8 BOOT 2025</span> is organized to provide a safe space for knowledge sharing, and forming new connections. We want all participants to have an enjoyable experience in our events. As such, all attendees, speakers, sponsors, organizers, volunteers, and staff of any Dev8 events are required to comply with the <span>Dev8 Event Code of Conduct</span>, which requires everyone to be respectful to each other, observant of venue rules, and welcoming to everyone. We will enforce this code throughout the Dev8 BOOT 2025.
        </p>
        <p class="description">
            If you believe someone is violating the Dev8 Event Code of Conduct, or have any other concerns, please do not hesitate to inform us via <a href="mailto:dev8community@gmail.com"><samp><span>dev8community@gmail.com</span></samp></a>.
        </p>
        <a href="/events/code-of-conduct" class="coc-button">
            Read the Dev8 Event Code of Conduct
        </a>
    </section>

    </supersection>

    <supersection class="light-grey-area">
        {# emcee, emcee-name #}
        <section class="container">
            <img class="section-head-image" src="/assets/events/boot2025/img/icons/hammer.png" alt="Hammer">
            <h1>Organizers</h1>
            <p class="description">
                The organizing team of Dev8 BOOT 2025 is composed of members of Dev8 and Valarx Projects.
            </p>
            <div class="organizers">
                {% for img, name, descrip, socials, type in boot2025_organizers["data"] if not type == "speaker" %}
                <div class="organizer">
                    <img class="speaker-image" src="/assets/events/boot2025/img/{{ img }}">
                    <p class="emcee-name">
                        {{ name }}
                    </p>
                    <p class="organizing-team">
                        {{ descrip }}
                    </p>
                    <div class="socials">
                        {% for social_type, link in socials %}
                        <a href="{{link}}"><img src="/assets/events/boot2025/img/icons/social_{{social_type}}.png"></a>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </supersection>

    <section class="container">
        <img class="section-head-image" src="/assets/events/boot2025/img/icons/ticket.png" alt="Ticket">
        <h1 class="admission-title">Save Your Slot Before It's Too Late!</h1>
        {{ boot2025_components.registration_button() }}
    </section>

</main>

{% endblock %}
