
<!-- {% import 'pages/events/patch2025/_components.html' as components %} -->

{% extends "pages/events/_subpage.html" %}
{% set active_page = "Events" %}
{% set preregistration = true%}

{% block title %}Dev8 PATCH 2025{% endblock %}
{% block relative_url %}patch/2025{% endblock %}

{% block opengraph_desc %}Kickstart your 2025 with new learnings and discoveries!{% endblock %}
{% block opengraph_img_desc %}Discover Fullstack Web Development in 2025!{% endblock %}
{% block opengraph_og_img %}/assets/events/patch2025/img/socials/og-fb-image.png{% endblock %}
{% block opengraph_twt_img %}/assets/events/patch2025/img/socials/og-twt-image.png{% endblock %}

{% block css %}<link href="/assets/events/patch2025/css/index.css" rel="stylesheet" type="text/css">{% endblock %}
{% block content %}

<script lang="javascript">

</script>

<main>
    {% include 'pages/events/patch2025/_hero-section.html' %}
    <supersection class="space-area">
        {% include 'pages/events/patch2025/_space-section.html' %}
    </supersection>
    <supersection class="dark-grey-area">
        {% include 'pages/events/patch2025/_speaker-section.html' %}
        {% include 'pages/events/patch2025/_expect-section.html' %}
        {% include 'pages/events/patch2025/_bringyourown-section.html' %}
        {% include 'pages/events/patch2025/_location-section.html' %}
        {% include 'pages/events/patch2025/_sponsors-section.html' %}
    </supersection>
    <supersection class="grey-area">
        {% include 'pages/events/patch2025/_codeofconduct-section.html' %}
    </supersection>
    <supersection class="light-grey-area">
        {% include 'pages/events/patch2025/_organizers-section.html' %}
    </supersection>
    
    {% include 'pages/events/patch2025/_registernow-section.html' %}
</main>

{% endblock %}