@use 'sass:color';

@import '../../_variables.scss';
@import '../../_mixins.scss';

.hero-section {
    background-color: $boot2025-hero-color;
    color: $boot2025-white;

    img#logo {
        width: 200px;
        display: block;
        margin: auto;

        margin-bottom: 20px;
    }

    h1 {
        font-family: "Prata", serif;
        font-size: 48px;
        font-weight: 400;
        line-height: 64px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        margin-bottom: 0;
    }

    h2 {
        width: 540px;
        margin: auto;

        font-family: "Open Sans", serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 32.68px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

    }

    p.date {
        font-family: "Ubuntu Mono", serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        margin: 4px 0 8px 0;
    }

    p.bootloader {
        font-family: "Open Sans", serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 19.07px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    div.bootloaders {
        width: 320px;

        display: flex;
        margin: auto;

        justify-content: space-evenly;

        img {
            height: 60px;
        }

        img.jetbrains {
            height: 60px;
        }
    }

    

    @include tablets {
        padding: 3%;
        padding-top: 0;
    }

    @include xlarge-screens {
        padding: 2%;
        padding-top: 0;
    }

}
