// Common CSS classes in the BOOT 2025 page.
@use 'sass:color';

@import '../../_variables.scss';

body {
    background: $boot2025-hero-color;
}

header {
    filter: brightness(0) invert(1);

    h1 {
        display: none;
    }
    nav {
        li {
            font-size: 14px;
        }
    }
}

section {
    //background-color: $boot2025-section-color;

    h1 {
        color: $boot2025-white;
        font-family: Prata;
        font-size: 24px;
        font-weight: 400;
        line-height: 32.52px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        margin: 10px 0 10px 0;
    }

    p {
        color: $boot2025-white;
        font-family: "Open Sans", serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.07px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        span {
            font-weight: 700;
            color: $dev8-light-green;
        }
    }

    p.description {
        width: 900px;
        margin: auto auto 14px auto;

    }

    img.section-head-image {
        display: block;
        width: 65px;
        height: 65px;
        margin: auto;
    }

    table, tr, th, td {
        border-collapse: collapse;
        border-spacing: 0;
        border: 4px solid black;
    }

    table {
        margin: auto;

        tbody {
            tr:nth-child(odd) {
                background-color: $dev8-light-green;
            }
                  
            tr:nth-child(even) {
                background-color: $dev8-green;
            }
        }

        th, td {
            padding: 9px;
        }

        th {
            color: $boot2025-white;
            background-color: #086972;

            font-family: "Open Sans", serif;
            font-size: 14px;
            font-weight: 700;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }

        td {
            font-family: "Open Sans", serif;
            font-size: 14px;
            font-weight: 400;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }

        td.time {
            text-align: center;
        }
        
        td.activity {
            max-width: 176px;
        }

    }
}

div#speakers {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    column-gap: 20px;
    row-gap: 20px;
}

div.speaker {
    flex: 1;
    min-width: 560px;
    max-width: 612px;
    height: fit-content;
    margin: auto;

    background-color: $boot2025-white;
    border: 4px solid $dev8-green;
    box-shadow: 4px 4px black;

    padding-bottom: 20px;

    h1, h2, p {
        color: $boot2025-black;
    }

    h1 {
        margin-bottom: 0;
    }

    h2 {
        font-family: "Open Sans", serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 21.79px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        margin: 0 auto 5px auto;
    }

    p {
        margin: auto;
        max-width: 560px;
    }

    .window-tab {
        display: flex;

        font-family: "Ubuntu Mono", serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        background-color: $btn-dark-color;
        color: $boot2025-white;

        padding: 5px 0 5px 5px;

        border-bottom: 4px solid $dev8-green;
    }

    .window-title {
        flex: auto;
    }

    .close-button {
        display: flex;
        flex: initial;

        width: 14px;
        padding-right: 5px;
    }

    .slide-image {
        width: 100%;
        max-height: 220px;
        object-fit: cover;
    }



}

.top-pad-remove {
    @include tablets {
        padding-top: 0;
    }

    @include xlarge-screens {
        padding-top: 0;
    }
}

.top-margin-remove {
    margin-top: 0px;
}

button {
    display: block;

    background-color: #086972;
    color: $boot2025-white;

    border-width: 4px 4px 4px 4px;
    border-style: solid;
    border-color: #17B9B6;
    border-bottom-color: black;
    border-right-color: black;

    min-width: 88px;
    width: 104px;
    height: 30px;
    margin: auto;

    font-family: Ubuntu Mono;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

#adventure {
    //background-color: $boot2025-dark-grey;

    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    .adventure-header {
        width: 100%;
        flex-basis: 100%;
    }

    .speaker {
        min-width: initial;
        max-width: 430px;
        min-height: 390px;
        flex: initial;
        
        margin: 0 25px;

        .fit-image {
            max-width: initial;
            display: block;
            overflow: hidden;
            
            width: 100%;
            height: 390px;
            
            object-fit: cover;
        }

        padding-bottom: revert;
    }

    .adv-description {
        flex: 1;
        max-width: 450px;
        
        h1, p, button  {
            text-align: left;
            margin-left: initial;
        }

        h1 {
            margin-bottom: 5px;
        }

        br {
            line-height: 1.2;
        }

        .section-head-image {
            margin: initial;
        }
    }
}

img.speaker-image {
    display: block;
    margin: 20px auto 10px auto;

    width: 150px;
    height: 150px;
    object-fit: cover;
}

p.emcee {
    width: 170px;

    margin: 3px auto 3px auto;
    font-family: "Ubuntu Mono", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-align: center;

    color: #EFEFEF;
}

p.emcee-name {
    /* Aris Artates */

    width: 150px;

    margin: 3px auto 3px auto;

    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    color: #83FFA6;


}

supersection {
    display: block;
    width: 100%;
}

.dark-grey-area {
    background-color: $boot2025-dark-grey;
}

.grey-area {
    background-color: $boot2025-grey;
}

.light-grey-area {
    background-color: $boot2025-light-grey;
}

div#organizers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 800px;
    margin: auto;
    row-gap: 20px;
    column-gap: 10px;
}

div.organizer {
    flex: 1;
    height: fit-content;

    img {
        margin: auto;
    }
}

div.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    column-gap: 10px;

}