h1, h2 {
    font-family: "Lato", Helvetica, Arial, sans-serif;
}

h1 {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.95rem;

    margin-top: 0;
    margin-bottom: 0;
}

h1 small {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1rem;
}

p {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

strong.extra-emphasized-text {
    font-size: 1.75rem;
}

.container {
    max-width: 1440px;

    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}
