@use "../../../_variables.scss";
@use "../../../mixins";

section.organizers-section {
    h1 {
        text-align: center;
    }

    div {
        &#organizers {
            display: grid;
            grid-auto-rows: auto;
            grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
            justify-content: center;
            gap: 1.2rem;

            width: 100%;
        }
    }
}
