// Common CSS classes in the BOOT 2026 page.
@use "sass:color";
@use "../../../_variables.scss";
@use "../../../mixins";

body {
  background: variables.$boot-main-bg-color;
}

header {
    filter: brightness(0) invert(1);

    h1 {
      display: none;
    }

    div#navbar {
        padding-top: 1%;
        padding-bottom: 1%;

        nav {
            li {
                font-size: 14px;
            }
        }
    }
}

p {
    margin-top: 0;
}

.weird-description {
    p {
        text-align: left;
        font-family: "Ubuntu Mono";
        font-style: normal;
        font-weight: 400;
        font-size: 37px;
        line-height: 37px;

        margin-top: 0;
    }
}

section {
    &.container {
        padding-top: 0;
        padding-bottom: 4%;

        &:first-child {
            padding-top: 4%;
        }
    }

    h1 {
        color: variables.$dev8-white;
        font-family: "Prata", serif;
        font-size: 32px;
        font-weight: 400;

        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin: 10px 0 10px 0;

        &.left {
            text-align: left;
        }

        &.right {
            text-align: right;
        }
    }

    p {
        color: variables.$dev8-white;
        font-family: "Open Sans", serif;
        font-size: 22px;
        font-weight: 400;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        &.left {
            text-align: left;
        }

        &.right {
            text-align: right;
        }

        &.description {
            max-width: 1245px;
            margin: auto auto 14px auto;
        }

        strong {
            font-weight: 700;
            color: variables.$dev8-light-green;
        }
    }

    .section-head-image {
        display: block;
        width: auto;
        height: 65px;
        margin: auto;

        &.left {
            margin: 0;
        }

        &.right {
            margin: 0 0 0 auto;
        }
    }

    .details {
        font-family: "Ubuntu Mono", serif;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        margin: 4px 0;
    }
}

samp {
    font-family: "Ubuntu Mono", serif;
    font-style: normal;
    font-weight: 800;
}

a {
    color: variables.$dev8-light-green;
}

.code-of-conduct {
    font-weight: 700;
    color: variables.$dev8-light-green;
}
