@use "../../../_variables.scss";
@use "../../../mixins";

section.panel-discussion-section {
    h1 {
        text-align: center;
    }

    div {
        &#panelists {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;

            @include mixins.large-screens {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }

            width: 100%;

            div.window {
                width: 100%;
            }
        }
    }
}