@use "../../../variables";
@use "../../../mixins";

section.partners-section {
    flex-direction: column;
    gap: 1.5rem;

    h1 {
        text-align: center;

        margin-top: 0;
    }

    .logos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;

        @include mixins.tablets {
            gap: 1rem;
        }

        @include mixins.large-screens {
            flex-direction: row;
            gap: 2.5rem;
        }

        img {
            align-self: center;
            max-height: 175px;

            &#jetbrains-logo {
                height: 100px;
            }

            &#dict8-logo {
                max-height: 125px;

                @include mixins.tablets {
                    max-height: 150px;
                }

                @include mixins.large-screens {
                    max-height: 175px;
                }
            }
        }
    }

    &.co-developers {
        .logos {

        }
    }
}