section.promotion-1-section {
  .window {
    width: 100%;

    .window__content {
      background:
        hsl(0, 0%, 38%)
        url("/assets/events/boot/2026/img/event-photo-1.webp")
        center;
      background-size: cover;

      height: 500px;
    }
  }
}