{% extends "pages/_base.html" %}

{% set preregistration = false %}

{% block title %}Dev8 COMPILE 2026{% endblock %}
{% block relative_url %}events/compile/2026{% endblock %}
{% block opengraph_desc %}
Build your skills and the local tech ecosystem of Eastern Visayas at Dev8 COMPILE 2026.
{% endblock %}
{% block opengraph_img_desc %}
View details on Dev8 COMPILE 2026.
{% endblock %}
{% block opengraph_og_img %}
/assets/events/compile/2026/img/socials/og-fb-image.jpg
{% endblock %}

{% block content %}

<main>
    {{ components.redirect_to_url("https://drive.google.com/file/d/1bpC4avz-a0oEXVKEl6-J7VEF-M_el-JA/view?usp=sharing") }}
</main>

{% endblock %}
