{% import 'pages/events/_components.html' as events_components %}

{% extends "pages/events/_subpage.html" %}
{% set active_page = "Events" %}

{% block title %}Privacy Policy{% endblock %}
{% block relative_url %}privacy-policy{% endblock %}
{% block css %}<link href="/assets/events/css/code-of-conduct.css" rel="stylesheet" type="text/css">{% endblock %}
{% block content %}

<main>
    <section class="container">
        <h1>Dev8 Privacy Policy</h1>
        <p class="date">
            February 6, 2021 <br>
            Last Updated on: November 30, 2024
        </p>

        <p>
            Dev8 (also referred to as “community”. “we”, “our”, and “us”) established this data privacy policy to show that we recognize and value your privacy rights. This data privacy policy is applicable to personal information we collect for Dev8. This Privacy Policy has been prepared to help you understand how we collect, use, and protect the Personal Information you provide to us through various channels. This Privacy Policy does not address, and we are not responsible for, the privacy, and information or other practices of any third party. By providing information to us in connection with Dev8 events, programmes, and activities, you agree to the terms and conditions of this Privacy Policy.
        </p>
        <h2>Collecting and Using Your Personal Information</h2>
        <p>We may ask you to provide us with certain personally identifiable information that can be used to contact or identify you through explicit means, such as, but not limited to, online forms. Personally identifiable information may include, but is not limited to:</p>
        <ul>
            <li>Email Address</li>
            <li>Name</li>
            <li>Phone Number</li>
            <li>Gender</li>
            <li>Hometown</li>
            <li>Current City/Province</li>
            <li>Company/School</li>
            <li>Occupation Type</li>
            <li>Details on personal likes and dislikes</li>
            <li>Allergies</li>
        </ul>

        <p>If Personal Information is given by a minor or one who, without parental or guardian consent, is not legally capable of entering into contractual transactions, the parent or guardian shall be responsible in giving the consent required under this Data Privacy Policy and in correcting any information provided or advising us that it is necessary to ignore or delete the information.</p>

        <p>If you provide us with Personal Information of other people in connection with the programmes and events we host, you hereby represent that you have the authority to do so and have secured consent to permit us to use the information in accordance with this data privacy policy.</p>

        <p>You may also choose to access third-party websites and services through Dev8. However, it must be noted that you are sharing information with those third parties, and the information you share is provided by their privacy policies.</p>
        
        <h2>Use of Your Personal Information</h2>
        <p>We may use your Personal Information for the following purposes:</p>
        <ul>
            <li><strong>To contact you</strong>: To contact you by email, telephone calls, or SMS regarding updates or informative communications related to any Dev8 events, programmes, and activities.</li>
            <li><strong>To manage your requests</strong> To attend to and manage your requests to us.</li>
            <li><strong>For other purposes</strong> We may use your information for other purposes, such as data analysis, identifying usage trends, determining the effectiveness of our promotional campaigns, and maintaining records of, evaluating, and improving our events, programmes, and your experience.</li>
        </ul>
        
        <h2>To Whom Do We Share Your Personal Information</h2>
        <p>For general purposes, such as, but not limited to, event registration, some of the Personal Information we collect is shared with select partners and sponsors involved with our programmes and events. We only provide our partners and sponsors with your name, email, company/school, hometown, and occupation type (i.e. professional, student, or unemployed), and analytics produced from your Personal Information. We do not share any other information.</p>

        <p>In the case of surveys, we may collect your hometown, current city/province, occupation type, gender, and other information relevant to the surveys. We may also collect your name, email address, and phone number. Additionally, we may grant select members of partners involved in our surveys access to the data we collect for the purposes of conducting said surveys and processing the collected data. However, when we share the data we collect from our surveys publicly, we shall never include your name, email address, phone number, or any information that may easily identify you, in such instances.</p>

        <p>We may also share your information with third-party vendors and service providers that we utilize for purposes such as billing, payment processing, customer service, event management and registration, email deployment, analytics, marketing, advertising, performance monitoring, hosting, and data processing.</p>

        <p>We may also use or disclose Personal Information when necessary or appropriate: (a) under applicable law, including laws outside your country of residence; (b) to comply with legal process; (c) to respond to requests from public or government authorities, including public or government authorities outside your country of residence; (d) to protect our rights, privacy, safety, or property, you, or others; or (e) to allow us to pursue available remedies or limit the damages that we may sustain.</p>

        <h2>Communications from Dev8</h2>
        
        <p>We may use your email address for communications with you in relation to any Dev8 events, programmes, and activities you have applied or will attend/expressed intent or interest in attending/have attended.</p>
        
        <h2>Security of Your Data</h2>
        <p>The protection of your data from malicious intentions is an important matter to us. We use reasonable measures to ensure that your data will be protected from loss, theft, unauthorized access, unlawful disclosures, alteration, and destruction.</p>

        <h2>Dispute Resolution</h2>
        <p>In case you have any complaints with respect to our compliance with this data privacy policy, it would be ideal if you contact us first. We'll examine and endeavour to resolve complaints and debates concerning the utilization and divulgence of individual data in agreement with the Privacy Policy and in understanding pertinent law.</p>
        
        <h2>Changes to Our Data Privacy Policy</h2>
        <p>From time to time, we may amend, interpret, modify, or withdraw any portion of this Data Privacy Policy at any time without prior notice. Notifications of changes shall be posted through online channels, such as Facebook.</p>
        
        <h2>Rights of the Data Subject</h2>
        <p>The Personal Information you have provided to us shall be retained for as long as necessary depending on the purpose of the collection. You may exercise your right to access, modify, and delete your Personal Information, by contacting us through the contact details we are providing below.</p>
        
        <h2>Contacting Us</h2>
        <p>If you have any questions or inquiries about this privacy policy or would just like to contact us for any other purpose, you may contact us via email, <a href="mailto:dev8community@gmail.com"><samp>dev8community@gmail.com</samp></a>.</p>
    </section>
</main>






{% endblock %}
