/* Screen size for mobile devices */
h1 {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 2rem;
    line-height: 1.95rem;
    
    margin-top: 0;
    margin-bottom: 0;
}

h1 small {
    font-weight: 700;
    font-size: 1.25rem;
}

p {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;

    margin-top: 0;
    margin-bottom: 0;
}

/* Screen size for tablets */
@media screen and (min-width: 481px) {
    
}

/* Screen size for small screens and laptops */
@media screen and (min-width: 769) {
    
}

/* Screen size for desktops and large screens */
@media screen and (min-width: 1025px) {
}

/* Screen size for extra large screens and TVs */
@media screen and (min-width: 1201px) {
}

.container {
    max-width: 1440px;

    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

body {
    margin: 0;
}

header {
    background-color: rgb(13, 55, 65);
    background-image:
        linear-gradient(90deg, rgba(255, 255, 255, 0.25) 1px, transparent 1px),
        linear-gradient(0deg, rgba(255, 255, 255, 0.25) 1px, transparent 1px);
    background-size: 3rem 3rem;
    background-position: center;
    color: rgb(255, 255, 255);

    height: 100vh;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

header div#header-bg-curves {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-area: 1 / 1 / 1 / 1;
}

header div#header-bg-curves img {
    display: block;
    width: 75%;
}

header div#header-bg-curves img#header-bg-curve-top {
    align-self: start;
    justify-self: start;
}

header div#header-bg-curves img#header-bg-curve-bottom {
    align-self: end;
    justify-self: end;
}

header div#header-content {
    grid-area: 1 / 1 / 1 / 1;

    display: flex;
    flex-direction: column;
}

header div#header-content div#hero-logo {
    margin-bottom: 5%;
}

header div#header-content div#hero-logo img {
    width: 15%;
    height: auto;

    margin-left: auto;
    margin-right: auto;

    display: block;
}

header div#header-content div#hero-main-content {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    flex-grow: 1;
}

header div#header-content div#hero-main-content img#hero-image {
    grid-area: 1 / 1 / 1 / 1;
    justify-self: end;

    width: 65%;
    display: block;
}

header div#header-content div#hero-main-content div#hero-content {
    grid-area: 1 / 1 / 1 / 1;
    align-self: end;
}

header div#header-content div#hero-main-content div#hero-content h1 {
    margin-bottom: 2%;
}

header div#header-content div#hero-main-content div#hero-content a button {
    background-color: rgb(8, 105, 114);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 7px 15px 5px rgba(44, 44, 44, 0.7);

    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 1rem;

    width: 100%;

    margin-top: 3%;
    padding: 3%;
}

header div#header-content div#hero-main-content div#hero-content a button:active {
    box-shadow: inset 0px 0px 7px 5px rgb(44, 44, 44);
}

main section#highlights {
    display: flex;
    flex-direction: column;
}
