<section class="panel-discussion-section container">
    <div>
        <img class="section-head-image"
             src="/assets/img/icons/lightbulb.png"
             alt="Light Bulb Icon">
        <h1>Gain Insights on the Eastern Visayan Tech Ecosystem</h1>
        <p class="description">
            Gain insights into the tech ecosystem of Eastern Visayas during the
            panel discussion titled,
            <strong>"Code and Coastlines: Understanding the Tech Ecosystem in
            Eastern Visayas"</strong>, where we will discuss the current tech
            ecosystem in the region, the challenges and obstacles it is facing,
            and the developments being forwarded to further its growth. We will
            be joined by Delfin Mengote III, Claire Fernandez, and Diane Remot
            as panelists for the discussion. The discussion will be moderated
            by Sean Ballais.
        </p>
    </div>
    <div id="panelists">
        {% for p in boot2026_panelists %}
        <div class="window person-showcase">
            <div class="window__body">
                <div class="window__header">
                    <h1 class="window__title">
                        {% if "name" in p %}
                        {{ p["name"] }}
                        {% else %}
                        Person
                        {% endif %}
                    </h1>
                    <button class="window__close">
                        <img src="/assets/img/icons/close-button.svg">
                    </button>
                </div>
                <div class="window__content">
                    <img class="person__photo"
                         src="{{ p['photo'] }}"
                         alt="{{ p['name'] }}">
                    <p class="person__name">
                        {{ p["name"] }}
                    </p>
                    <p class="person__title">
                        {{ p["title"] }}
                    </p>
                    {% if "urls" in p %}
                    <ul class="horizontal-links with-icons">
                        {% for u in p['urls'] %}
                        <li>
                            <a href="{{ u['url'] }}"><img src="/assets/img/icons/{{ u['icon-id'] }}-xs.webp" alt="{{ u['icon-id'] | capitalize }}"></a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <ul class="horizontal-links">
                        {% for u in p["urls"] %}
                        <li>
                            <a href="{{ u['url'] }}">{{ p["name"] }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% if "description" in p %}
                    <p>{{ p["description"] }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>