<section class="schedule-section container">
    <img class="section-head-image"
         src="/assets/events/compile/2025/img/icons/calendar.png"
         alt="Calendar">
    <h1>Talks and Schedule</h1>
    <p class="description">
        Dev8 BOOT 2026 will be held on <strong>April 4, 2026</strong>
        via <strong>Zoom</strong>. The schedule below is tentative and is
        subject to change.
    </p>
    <div class="window">
        <div class="window__body">
            <div class="window__header">
                <h1 class="window__title">Schedule</h1>
                <button class="window__close">
                    <img src="/assets/img/icons/close-button.svg"
                         alt="Window Close Button">
                </button>
            </div>
            <div class="window__content">
                <table class="schedule-table">
                    <tr>
                        <th scope="col">Activity</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                    </tr>
                    {% for s in boot2026_schedule %}
                    <tr>
                        <td class="activity">
                            <h1 class="title">{{ s["title"] }}</h1>
                            {% if "subtitle" in s %}
                            <p class="subtitle">{{ s["subtitle"] }}</p>
                            {% endif %}
                            <p class="description">{{ s["description"] }}</p>
                        </td>
                        <td class="time">{{ s["start"] }}</td>
                        <td class="time">{{ s["end"] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</section>
