<section class="speakers-section container">
    <img class="section-head-image"
         src="/assets/events/compile/2025/img/icons/microphone.png"
         alt="Microphone">
    <h1>Speakers</h1>
    <div id="speakers">
        {% for s in boot2026_speakers %}
        <div class="window person-showcase">
            <div class="window__body">
                <div class="window__header">
                    <h1 class="window__title">
                        {% if "name" in s %}
                        {{ s["name"] }}
                        {% else %}
                        Speaker
                        {% endif %}
                    </h1>
                    <button class="window__close">
                        <img src="/assets/img/icons/close-button.svg">
                    </button>
                </div>
                <div class="window__content">
                    <img class="person__photo"
                         src="{{ s['photo'] }}"
                         alt="{{ s['name'] }}">
                    <p class="person__name">
                        {{ s["name"] }}
                    </p>
                    <p class="person__title">
                        {{ s["title"] }}
                    </p>
                    {% if "urls" in s %}
                    <ul class="horizontal-links with-icons">
                        {% for u in s['urls'] %}
                        <li>
                            <a href="{{ u['url'] }}"><img src="/assets/img/icons/{{ u['icon-id'] }}-xs.webp" alt="{{ u['icon-id'] | capitalize }}"></a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <ul class="horizontal-links">
                        {% for u in s["urls"] %}
                        <li>
                            <a href="{{ u['url'] }}">{{ u["name"] }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% if "description" in s %}
                    <p>{{ s["description"] }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>