<section class="speakers-section container">
    <img class="section-head-image"
         src="/assets/events/compile/2025/img/icons/microphone.png"
         alt="Microphone">
    <h1>Speakers</h1>
    <p class="section-description">
        More of our speakers will be included in the coming days.
    </p>
    <div id="speakers">
        {% for s in boot2026_speakers %}
        <div class="image-container speaker-window{% if s['custom_classes'] %} {{ s['custom_classes'] }}{% endif %}">
            <div class="image-container__body">
                <div class="image-container__header">
                    <h1 class="image-container__title">
                        {% if "name" in s %}
                        {{ s["name"] }}
                        {% else %}
                        Speaker
                        {% endif %}
                    </h1>
                    <button class="image-container__close">
                        <img src="/assets/events/compile/2025/img/icons/close_button.svg">
                    </button>
                </div>
                <div class="image-container__content speaker">
                    {% if "photo" in s and "name" in s %}
                    <img class="speaker__image"
                         src="{{ s['photo'] }}"
                         alt="{{ s['name'] }}">
                    {% endif %}
                    {% if "name" in s %}
                    <div class="speaker__details">
                        <p class="speaker__name">
                            {{ s["name"] }}
                        </p>
                        <p class="speaker__title">
                            {{ s["title"] }}
                        </p>
                        {% if "urls" in s %}
                        <ul class="speaker__links">
                            {% for u in s["urls"] %}
                            <li>
                                <a href="{{ u['url'] }}">{{ u["name"] }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% if "description" in s %}
                    <div class="speaker__bio-list">
                        <p class="speaker__bio">
                            {{ s["description"] }}
                        </p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>