{%
import 'pages/_components.html' as components
%}
{% extends "pages/events/_subpage.html" %}
{% set no_default_header = true %}

{% block title %}Dev8 BOOT 2026 Feedback Form{% endblock %}
{% block relative_url %}events/boot/2026/feedback{% endblock %}
{% block opengraph_desc %}
Send your feedback on Dev8 BOOT 2026, Dev8's online virtual mini-conference for developers, students, and tech enthusiasts of Eastern Visayas this 2026.
{% endblock %}
{% block opengraph_img_desc %}
Send your feedback on Dev8 BOOT 2026.
{% endblock %}
{% block opengraph_og_img %}
{{ website['base-url'] }}/assets/events/boot/2026/img/facebook-og-banner.png
{% endblock %}

{% block content %}

<main>
    {{ components.redirect_to_url("https://forms.gle/A23YAbvbEJWt9d4Y8") }}
</main>

{% endblock %}
