{%
import 'pages/events/boot/2026/_components.html' as boot2026_components
%}
{% extends "pages/events/_subpage.html" %}
{% set active_page = "Events" %}
{% set no_default_header = true %}

{% block title %}Dev8 BOOT 2026{% endblock %}
{% block relative_url %}events/boot/2026{% endblock %}
{% block opengraph_desc %}
Dev8's online virtual mini-conference for developers, students, and tech enthusiasts of Eastern Visayas is back this 2026 to provide you with new talks, discussions, demos, and ideas.
{% endblock %}
{% block opengraph_img_desc %}
Learn more about Dev8 BOOT 2026.
{% endblock %}
{% block opengraph_og_img %}
/assets/events/boot/2025/img/facebook-og-banner.png
{% endblock %}

{% block css %}
<link href="/assets/events/boot/2026/css/index.css"
      rel="stylesheet"
      type="text/css"/>
{% endblock %}

{% block js %}
<script src="/assets/events/boot/2026/js/index.js"></script>
{% endblock %}

{% block content %}
<main>
    {% include 'pages/events/boot/2026/_shutdown-overlay.html' %}
    {% include 'pages/events/boot/2026/_hero-section.html' %}
    <div class="dark-grey-area flex column">
        {% include 'pages/events/boot/2026/_promotion-1.html' %}
        {% include 'pages/events/boot/2026/_speakers.html' %}
        {% include 'pages/events/boot/2026/_schedule.html' %}
        {% include 'pages/events/boot/2026/_code-of-conduct.html' %}
        {% include 'pages/events/boot/2026/_organizers.html' %}
    </div>
    <!-- {% include 'pages/events/boot/2026/_call-to-action.html' %} -->
</main>
{% endblock %}
