{%
import 'pages/_components.html' as components
%}
{% extends "pages/events/_subpage.html" %}
{% set no_default_header = true %}

{% block title %}Dev8 BOOT 2026{% endblock %}
{% block relative_url %}events/boot/2026/register{% endblock %}
{% block opengraph_desc %}
Dev8's online virtual mini-conference for developers, students, and tech enthusiasts of Eastern Visayas is back this 2026 to provide you with new talks, discussions, demos, and ideas.
{% endblock %}
{% block opengraph_img_desc %}
Learn more about Dev8 BOOT 2026.
{% endblock %}
{% block opengraph_og_img %}
{{ website['base-url'] }}/assets/events/boot/2026/img/facebook-og-banner.png
{% endblock %}

{% block content %}

<main>
    {{ components.redirect_to_url("https://luma.com/q9fkjdvd") }}
</main>

{% endblock %}
