{%
import 'pages/_components.html' as components
%}
{% extends "pages/events/_subpage.html" %}
{% set no_default_header = true %}

{% block title %}Dev8 BOOT 2026 Has Fully Booted!{% endblock %}
{% block relative_url %}events/boot/2026/register{% endblock %}
{% block opengraph_desc %}
Dev8 BOOT 2026, a virtual mini-conference for developers, students, and tech enthusiasts of Eastern Visayas in 2026, has finished booting last April 4, 2026. We thank all the participants, speakers, organizers, and partners for making the event a reality. We hope to see you in our next events.
{% endblock %}
{% block opengraph_img_desc %}
Dev8 BOOT 2026 Has Fully Booted!
{% endblock %}
{% block opengraph_og_img %}
{{ website['base-url'] }}/assets/events/boot/2026/img/facebook-og-banner.png
{% endblock %}

{% block content %}

<main>
    {{ components.redirect_to_url("https://luma.com/q9fkjdvd") }}
</main>

{% endblock %}
