{%
import 'pages/_components.html' as components
%}
{% extends "pages/events/_subpage.html" %}
{% set no_default_header = true %}

{% block title %}View the Dev8 BOOT 2026 Event Report{% endblock %}
{% block relative_url %}events/boot/2026/report{% endblock %}
{% block opengraph_desc %}
Get the event report on Dev8 BOOT 2026, a virtual mini-conference for
developers, students, and tech enthusiasts of Eastern Visayas in 2026. Learn
what happened during the event, the composition of our participants and their
feedback, the lessons we encountered, and more!
{% endblock %}
{% block opengraph_img_desc %}
Grab the Dev8 BOOT 2026 Event Report
{% endblock %}
{% block opengraph_og_img %}
{{ website['base-url'] }}/assets/events/boot/2026/img/facebook-og-banner.png
{% endblock %}

{% block content %}

<main>
    {{
        components.redirect_to_url(
            "https://drive.google.com/file/d/1t_uxJCMGMS6jjCjBxwAFfmN4RuDZgTud/view?usp=sharing"
        )
    }}
</main>

{% endblock %}
