{%
import 'pages/_components.html' as components
%}
{% extends "pages/events/_subpage.html" %}
{% set no_default_header = true %}

{% block title %}Experience Dev8 BOOT 2026 Anytime Anywhere{% endblock %}
{% block relative_url %}events/boot/2026/register{% endblock %}
{% block opengraph_desc %}
Dev8 BOOT 2026, a virtual mini-conference for developers, students, and tech enthusiasts of Eastern Visayas in 2026, has finished booting last April 4, 2026. But, you can still experience the online mini-conference whenever and wherever you want. You can now watch Dev8 BOOT 2026 recordings via YouTube and load up your developer skills anytime anywhere!
{% endblock %}
{% block opengraph_img_desc %}
Experience Dev8 BOOT 2026 anytime anywhere.
{% endblock %}
{% block opengraph_og_img %}
{{ website['base-url'] }}/assets/events/boot/2026/img/facebook-og-banner.png
{% endblock %}

{% block content %}

<main>
    {{ components.redirect_to_url("https://www.youtube.com/playlist?list=PLAZux8kFJ6-Wn-s2lywr1aLP-ILf2DxGh") }}
</main>

{% endblock %}
