{% extends "pages/events/_subpage.html" %}
{% set active_page = "Dev8 COMPILE 2025" %}

{% block title %}Dev8 COMPILE 2025{% endblock %}
{% block relative_url %}events/compile/2025/reveal-jb-code{% endblock %}

{% block opengraph_desc %}
Celebrating tech and geekery in Eastern Visayas.
{% endblock %}
{% block opengraph_img_desc %}
View the Dev8 COMPILE 2025 details here!
{% endblock %}
{% block opengraph_og_img %}
/assets/events/compile/2025/img/socials/og-fb-image.jpg
{% endblock %}

{% block content %}

<main>
    {{ components.redirect_to_url_no_text("https://youtu.be/0q6yphdZhUA?si=duVRIV3YouzD-3sk&t=26") }}
</main>

{% endblock %}
