section.organized-section {
  .image-container {
    .image-container__content {
      background:
        hsl(0, 0%, 38%)
        url("/assets/events/compile/2025/img/organized.webp")
        center;
      background-size: cover;

      height: 500px;
    }
  }
}