@use "../../../mixins";

section.partners-section {
  flex-direction: column;
  gap: 1.5rem;

  div.category {
    h1 {
      font-family: "Open Sans", serif;
      font-size: 22px;
      font-weight: 600;

      text-align: center;

      margin-top: 0;
    }

    .logos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;

      @include mixins.tablets {
        flex-direction: row;
        gap: 2.5rem;
      }

      img {
        align-self: center;
      }
    }

    &.co-developers {
      .logos {
        flex-direction: column;
        gap: 1rem;
        
        img {
          max-height: 100px;
        }

        @media screen and (min-width: 1135px) {
          flex-direction: row;
          gap: 2.5rem;
        };
      }
    }

    &.maintainers {
      .logos {
        img {
          max-height: 90px;
        }
      }
    }

    &.contributors, &.community-partners {
      .logos {
        img {
          max-height: 70px;
        }
      }
    }

    &.community-partners {
      .logos {
        flex-direction: column;
        gap: 1rem;

        @media screen and (min-width: 572px) {
          flex-direction: row;
          gap: 2.5rem;
        }
      }
    }

    &.supporters {
      .logos {
        flex-direction: column;
        gap: 1rem;

        img {
          max-height: 55px;
        }

        @media screen and (min-width: 760px) {
          flex-direction: row;
          gap: 2.5rem;
        }
      }
    }
  }
}