<section class="container">
    <div>
        <section>
            <div class="content">
                <div class="category-description">
                    <h2>Communication Tools Used, Loved, and Hated</h2>
                    <p>Google Meet, Facebook Messenger, Discord, Zoom, and Slack are the top five most used communication tools by developers in Eastern Visayas. However, professionals and freelancers use Zoom more than Discord, while the vice versa is the case for students and the unemployed. Additionally, Slack is more popular among professionals and freelancers than among students and the unemployed who use Google Chat more than Slack.</p>
                    <p>Discord has been reported to be the tool that most developers want to use this year, even surpassing Facebook Messenger.</p>
                </div>
                <div class="category-results">
                    <nav class="data-demographic-tabs">
                        {% for demographic in communication_tools_used['data'].keys() %}
                        {% if loop.index == 1 %}
                        <menu class="selected">{{ demographic }}</menu>
                        {% else %}
                        <menu>{{ demographic }}</menu>
                        {% endif %}
                        {% endfor %}
                    </nav>
                    <div>
                        {% for data in communication_tools_used['data'].values() %}
                        {% if loop.index == 1 %}
                        <div>
                        {% else %}
                        <div class="hide">
                        {% endif %}
                            <ul class="bar-graph">
                                {% for tool, counts in data %}
                                <li>
                                    <div class="label">{{ tool }}</div>
                                    <div class="bar">
                                        {% for count in counts %}
                                        <div>
                                            <label>{{ communication_tools_used['headers'][loop.index] }}</label>
                                            <svg width="100%" height="24">
                                                <defs>
                                                    <linearGradient id="bar-gradient">
                                                        <stop offset="0%" stop-color="#17b9b6"/>
                                                        <stop offset="100%" stop-color="#83ffa6"/>
                                                    </linearGradient>
                                                    <linearGradient id="subbar-gradient">
                                                        <stop offset="0%" stop-color="#808080"/>
                                                        <stop offset="100%" stop-color="#cecece"/>
                                                    </linearGradient>
                                                </defs>
                                                {% if count > 0 %}
                                                <rect class="bar-rect" y="0" width="{{ '{:.2f}'.format(count * 100) }}%" height="24" rx="3" ry="3"/>
                                                {% if count > 0.2 %}
                                                <text x="{{ '{:.2f}'.format((count - 0.01) * 100) }}%" y="12" fill="#212121" text-anchor="end" alignment-baseline="central">{{ '{:.2f}'.format(count * 100) }}%</text>
                                                {% else %}
                                                <text x="{{ '{:.2f}'.format((count + 0.01) * 100) }}%" y="12" fill="#ffffff" text-anchor="start" alignment-baseline="central">{{ '{:.2f}'.format(count * 100) }}%</text>
                                                {% endif %}
                                                {% else %}
                                                <rect class="bar-rect" y="0" width="2px" height="24" rx="3" ry="3"/>
                                                <text x="2.0%" y="12" fill="#ffffff" text-anchor="start" alignment-baseline="central">0.00%</text>
                                                {% endif %}
                                            </svg>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </li>
                                {% endfor %}                                                     
                            </ul>
                            <button type="button" class="toggle-data-btn">Show More</button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>