<section id="technologies" class="container">
    <div>
        <section>
            <div class="content">
                <div class="category-description">
                    <h2>Frameworks and Libraries Used, Loved, and Hated</h2>
                    <p>Coinciding with the popularity of JavaScript and web development in the region, React has topped the list of frameworks and libraries being used by developers in Eastern Visayas, while also being among the top frameworks/libraries that developers would like to use this 2024. Along with React, the top most used framework/library is mostly held by JavaScript technologies, namely: Node.js, jQuery, and Vue.js. Curiously, the most disliked framework/library is also another JavaScript technology, AngularJS.</p>
                    <p>Contrasting the professionals/freelancers, whom lean towards using web technologies, students and the unemployed, interestingly, report that .NET is among their top 10 most used frameworks/libraries. This suggests that the .NET framework is possibly taught in higher education.</p>
                </div>
                <div class="category-results">
                    <nav class="data-demographic-tabs">
                        {% for demographic in frameworks_used['data'].keys() %}
                        {% if loop.index == 1 %}
                        <menu class="selected">{{ demographic }}</menu>
                        {% else %}
                        <menu>{{ demographic }}</menu>
                        {% endif %}
                        {% endfor %}
                    </nav>
                    <div>
                        {% for data in frameworks_used['data'].values() %}
                        {% if loop.index == 1 %}
                        <div>
                        {% else %}
                        <div class="hide">
                        {% endif %}
                            <ul class="bar-graph">
                                {% for framework, counts in data %}
                                <li>
                                    <div class="label">{{ framework }}</div>
                                    <div class="bar">
                                        {% for count in counts %}
                                        <div>
                                            <label>{{ frameworks_used['headers'][loop.index] }}</label>
                                            <svg width="100%" height="24">
                                                <defs>
                                                    <linearGradient id="bar-gradient">
                                                        <stop offset="0%" stop-color="#17b9b6"/>
                                                        <stop offset="100%" stop-color="#83ffa6"/>
                                                    </linearGradient>
                                                    <linearGradient id="subbar-gradient">
                                                        <stop offset="0%" stop-color="#808080"/>
                                                        <stop offset="100%" stop-color="#cecece"/>
                                                    </linearGradient>
                                                </defs>
                                                {% if count > 0 %}
                                                <rect class="bar-rect" y="0" width="{{ '{:.2f}'.format(count * 100) }}%" height="24" rx="3" ry="3"/>
                                                {% if count > 0.2 %}
                                                <text x="{{ '{:.2f}'.format((count - 0.01) * 100) }}%" y="12" fill="#212121" text-anchor="end" alignment-baseline="central">{{ '{:.2f}'.format(count * 100) }}%</text>
                                                {% else %}
                                                <text x="{{ '{:.2f}'.format((count + 0.01) * 100) }}%" y="12" fill="#ffffff" text-anchor="start" alignment-baseline="central">{{ '{:.2f}'.format(count * 100) }}%</text>
                                                {% endif %}
                                                {% else %}
                                                <rect class="bar-rect" y="0" width="2px" height="24" rx="3" ry="3"/>
                                                <text x="2.0%" y="12" fill="#ffffff" text-anchor="start" alignment-baseline="central">0.00%</text>
                                                {% endif %}
                                            </svg>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </li>
                                {% endfor %}                                                     
                            </ul>
                            <button type="button" class="toggle-data-btn">Show More</button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>