<section id="technologies" class="container">
    <h1>Technologies</h1>
    <div>
        <section>
            <div class="content">
                <div class="category-description">
                    <h2>Languages Used, Loved, and Hated</h2>
                    <p>Web development technologies have dominated the lives of most developers in Eastern Visayas. JavaScript enjoys the top spot as both the most used language and the most desired to be used again this 2024 by developers in the region across all demographics. HTML/CSS, Python, SQL, and PHP are generally the next four most used, but Java sees more than Python among students and the unemployed.</p>
                    <p>On the other end of the spectrum, Assembly has been reported to be the least liked languages for Eastern Visayas. Visual Basic 6 (or earlier) comes in at second least liked. It is quite interesting to note that this language still sees use in the region, despite the <a href="https://learn.microsoft.com/en-us/previous-versions/visualstudio/visual-basic-6/visual-basic-6-support-policy">deprecation of its IDE since 2008</a> and the lack of updates for <a href="https://www.thurrott.com/dev/106091/20-years-visual-studio-visual-basic">nearly 30 years</a>.</p>
                </div>
                <div class="category-results">
                    <nav class="data-demographic-tabs">
                        {% for demographic in languages_used['data'].keys() %}
                        {% if loop.index == 1 %}
                        <menu class="selected">{{ demographic }}</menu>
                        {% else %}
                        <menu>{{ demographic }}</menu>
                        {% endif %}
                        {% endfor %}
                    </nav>
                    <div>
                        {% for data in languages_used['data'].values() %}
                        {% if loop.index == 1 %}
                        <div>
                        {% else %}
                        <div class="hide">
                        {% endif %}
                            <ul class="bar-graph">
                                {% for language, counts in data %}
                                <li>
                                    <div class="label">{{ language }}</div>
                                    <div class="bar">
                                        {% for count in counts %}
                                        <div>
                                            <label>{{ languages_used['headers'][loop.index] }}</label>
                                            <svg width="100%" height="24">
                                                <defs>
                                                    <linearGradient id="bar-gradient">
                                                        <stop offset="0%" stop-color="#17b9b6"/>
                                                        <stop offset="100%" stop-color="#83ffa6"/>
                                                    </linearGradient>
                                                    <linearGradient id="subbar-gradient">
                                                        <stop offset="0%" stop-color="#808080"/>
                                                        <stop offset="100%" stop-color="#cecece"/>
                                                    </linearGradient>
                                                </defs>
                                                {% if count > 0 %}
                                                <rect class="bar-rect" y="0" width="{{ '{:.2f}'.format(count * 100) }}%" height="24" rx="3" ry="3"/>
                                                {% if count > 0.2 %}
                                                <text x="{{ '{:.2f}'.format((count - 0.01) * 100) }}%" y="12" fill="#212121" text-anchor="end" alignment-baseline="central">{{ '{:.2f}'.format(count * 100) }}%</text>
                                                {% else %}
                                                <text x="{{ '{:.2f}'.format((count + 0.01) * 100) }}%" y="12" fill="#ffffff" text-anchor="start" alignment-baseline="central">{{ '{:.2f}'.format(count * 100) }}%</text>
                                                {% endif %}
                                                {% else %}
                                                <rect class="bar-rect" y="0" width="2px" height="24" rx="3" ry="3"/>
                                                <text x="2.0%" y="12" fill="#ffffff" text-anchor="start" alignment-baseline="central">0.00%</text>
                                                {% endif %}
                                            </svg>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </li>
                                {% endfor %}                                                     
                            </ul>
                            <button type="button" class="toggle-data-btn">Show More</button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>