{% macro bar_graph_section(data_dict) -%}
<section class="survey-item-section bar-graph">
    <div class="category-description">
        <h2>{{ data_dict['headers'][0] }}</h2>
        {% set paragraphs = data_dict['description'].split('\n') %}
        {% for p in paragraphs %}
        <p>{{ p }}</p>
        {% endfor %}
    </div>
    <div class="category-results">
        {% if data_dict['data'] is dict %}
        <nav class="data-demographic-tabs">
            {% for demographic in data_dict['data'].keys() %}
            {% if loop.index == 1 %}
            <menu class="selected">{{ demographic }}</menu>
            {% else %}
            <menu>{{ demographic }}</menu>
            {% endif %}
            {% endfor %}
        </nav>
        {% endif %}
        <div>
            {% if data_dict['data'] is dict %}
            {% set data_set = data_dict['data'].values() %}
            {% else %}
            {% set data_set = [data_dict['data']] %}
            {% endif %}
            {% for data in data_set %}
            {% if loop.index == 1 %}
            <div>
            {% else %}
            <div class="hide">
            {% endif %}
                <ul class="bar-graph">
                    {% for name, counts in data %}
                    <li>
                        <div class="label">{{ name }}</div>
                        <div class="bar">
                            {% if counts is iterable %}
                            {% for count in counts %}
                            <div>
                                <label>{{ data_dict['headers'][loop.index] }}</label>
                                <svg width="100%" height="24">
                                    <defs>
                                        <linearGradient id="bar-gradient">
                                            <stop offset="0%" stop-color="#17b9b6"/>
                                            <stop offset="100%" stop-color="#83ffa6"/>
                                        </linearGradient>
                                        <linearGradient id="subbar-gradient">
                                            <stop offset="0%" stop-color="#808080"/>
                                            <stop offset="100%" stop-color="#cecece"/>
                                        </linearGradient>
                                    </defs>
                                    {% if count > 0 %}
                                    <rect class="bar-rect" y="0" width="{{ '{:.2f}'.format(count * 100) }}%" height="24" rx="3" ry="3"/>
                                    {% if count > 0.2 %}
                                    <text x="{{ '{:.2f}'.format((count - 0.01) * 100) }}%" y="12" fill="#212121" text-anchor="end" alignment-baseline="central">{{ '{:.2f}'.format(count * 100) }}%</text>
                                    {% else %}
                                    <text x="{{ '{:.2f}'.format((count + 0.01) * 100) }}%" y="12" fill="#ffffff" text-anchor="start" alignment-baseline="central">{{ '{:.2f}'.format(count * 100) }}%</text>
                                    {% endif %}
                                    {% else %}
                                    <rect class="bar-rect" y="0" width="2px" height="24" rx="3" ry="3"/>
                                    <text x="2.0%" y="12" fill="#ffffff" text-anchor="start" alignment-baseline="central">0.00%</text>
                                    {% endif %}
                                </svg>
                            </div>
                            {% endfor %}
                            {% else %}
                            <svg width="100%" height="24">
                                <defs>
                                    <linearGradient id="bar-gradient">
                                        <stop offset="0%" stop-color="#17b9b6"/>
                                        <stop offset="100%" stop-color="#83ffa6"/>
                                    </linearGradient>
                                </defs>
                                {% if counts > 0 %}
                                <rect class="bar-rect" y="0" width="{{ '{:.2f}'.format(counts * 100) }}%" height="24" rx="3" ry="3"/>
                                {% if counts > 0.2 %}
                                <text x="{{ '{:.2f}'.format((counts - 0.01) * 100) }}%" y="12" fill="#212121" text-anchor="end" alignment-baseline="central">{{ '{:.2f}'.format(counts * 100) }}%</text>
                                {% else %}
                                <text x="{{ '{:.2f}'.format((counts + 0.01) * 100) }}%" y="12" fill="#ffffff" text-anchor="start" alignment-baseline="central">{{ '{:.2f}'.format(counts * 100) }}%</text>
                                {% endif %}
                                {% else %}
                                <rect class="bar-rect" y="0" width="2px" height="24" rx="3" ry="3"/>
                                <text x="2.0%" y="12" fill="#ffffff" text-anchor="start" alignment-baseline="central">0.00%</text>
                                {% endif %}
                            </svg>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}                                                     
                </ul>
                {% if not ((data_dict['data'] is list and data_dict['data'] | length <= 10) or
                           (data_dict['data'] is dict and data_dict['data'].values() | map('length') | max <= 10)) %}
                {# TODO: Make this more robust to also consider categorical bar graphs. Will not work if one demographic has more than 10 items while another has less than 10. #}
                {# TODO: Make the buttons be on a per demographic basis. #}
                <button type="button" class="toggle-data-btn">Show More</button>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{%- endmacro %}

{% macro matrix_table_section(data_dict, require_headers=false) -%}
<section class="survey-item-section matrix">
    <div class="category-description">
        <h2>{{ data_dict['title'] }}</h2>
        {% set paragraphs = data_dict['description'].split('\n') %}
        {% for p in paragraphs %}
        <p>{{ p }}</p>
        {% endfor %}
    </div>
    <div class="category-results">
        <div class="matrix-table">
            <svg width="100%" height="45px">
                <defs>
                    <linearGradient id="legend-gradient">
                        <stop offset="0%" stop-color="hsla(0, 0%, 13%, 0%)"/>
                        <stop offset="100%" stop-color="hsl(137, 100%, 76%)"/>
                    </linearGradient>
                </defs>
                {% if data_dict['raw_read'] %}
                {% set displayed_start_val = '0' %}
                {% set displayed_end_val = data_dict['max_data_val'] %}
                {% else %}
                {% set displayed_start_val = '0%' %}
                {% set displayed_end_val = '{:.2f}'.format(data_dict['max_data_val'] * 100) %}
                {% endif %}
                <rect y="0" width="150px" height="14px" fill="url(#legend-gradient)"/>
                <text y="25px" fill="hsl(0, 0%, 100%)" text-anchor="start" alignment-baseline="central">{{ displayed_start_val }}</text>
                <text x="150px" y="25px" fill="hsl(0, 0%, 100%)" text-anchor="end" alignment-baseline="central">{{ displayed_end_val }}</text>
            </svg>
            <div>
                <table {% if data_dict['table_width'] %}width="{{ data_dict['table_width'] }}"{% else %}width="3250px"{% endif %}>
                    <thead>
                        {% if require_headers %}
                        <tr>
                            <th rowspan="2">{{ data_dict['headings']['stub'] }}</th>
                            {% for spanner in data_dict['headings']['column_spanners'] %}
                            <th {% if 'rowspan' in spanner %}rowspan="{{ spanner['rowspan'] }}"{% endif %} colspan="{{ spanner['colspan'] }}">{{ spanner['title'] }}</th>
                            {% endfor %}
                        </tr>
                        {% endif %}
                        <tr>
                            {% if not require_headers %}
                            <th></th>
                            {% endif %}
                            {% for col in data_dict['headings']['columns'] %}
                            <th>{{ col }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row_data in data_dict['data'] %}
                        <tr>
                            <td>{{ data_dict['headings']['rows'][loop.index0] }}</td>
                            {% for col_data in row_data %}
                            {% if data_dict['raw_read'] %}
                            {% set displayed_val = col_data %}
                            {% else %}
                            {% set displayed_val = '{:.2f}%'.format(col_data * 100) %}
                            {% endif %}
                            {% if loop.index in data_dict['focused_data_columns'] or 'focused_data_columns' not in data_dict %}
                            {% set normalized_val = col_data / data_dict['max_data_val'] %}
                            {% if normalized_val > 0.5 %}
                            <td style="background-color: hsla(137, 100%, 76%, {{ normalized_val * 100 }}%) !important; color: hsl(0, 0%, 13%);">{{ displayed_val }}</td>
                            {% else %}
                            <td style="background-color: hsla(137, 100%, 76%, {{ normalized_val * 100 }}%) !important;">{{ displayed_val }}</td>
                            {% endif %}
                            {% else %}
                            <td>{{ displayed_val }}</td>
                            {% endif %}
                            {% endfor %}
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{%- endmacro %}

{% macro text_only_section(data_dict) -%}
<section class="survey-item-section">
    <h2>{{ data_dict['title'] }}</h2>
    {% set paragraphs = data_dict['text'].split('\n') %}
    {% for p in paragraphs %}
    <p>{{ p }}</p>
    {% endfor %}
</section>
{%- endmacro %}
