{% macro tool_preferences_section(data_dict) -%}
<section class="survey-item-section bar-graph">
    <div class="category-description">
        <h2>{{ data_dict['headers'][0] }}</h2>
        {% set paragraphs = data_dict['description'].split('\n') %}
        {% for p in paragraphs %}
        <p>{{ p }}</p>
        {% endfor %}
    </div>
    <div class="category-results">
        {% if data_dict['data'] is dict %}
        <nav class="data-demographic-tabs">
            {% for demographic in data_dict['data'].keys() %}
            {% if loop.index == 1 %}
            <menu class="selected">{{ demographic }}</menu>
            {% else %}
            <menu>{{ demographic }}</menu>
            {% endif %}
            {% endfor %}
        </nav>
        {% endif %}
        <div>
            {% if data_dict['data'] is dict %}
            {% set data_set = data_dict['data'].values() %}
            {% else %}
            {% set data_set = [data_dict['data']] %}
            {% endif %}
            {% for data in data_set %}
            {% if loop.index == 1 %}
            <div>
            {% else %}
            <div class="hide">
            {% endif %}
                <ul class="bar-graph">
                    {% for name, counts in data %}
                    <li>
                        <div class="label">{{ name }}</div>
                        <div class="bar">
                            {% if counts is iterable %}
                            {% for count in counts %}
                            <div>
                                <label>{{ data_dict['headers'][loop.index] }}</label>
                                <svg width="100%" height="24">
                                    <defs>
                                        <linearGradient id="bar-gradient">
                                            <stop offset="0%" stop-color="#17b9b6"/>
                                            <stop offset="100%" stop-color="#83ffa6"/>
                                        </linearGradient>
                                        <linearGradient id="subbar-gradient">
                                            <stop offset="0%" stop-color="#808080"/>
                                            <stop offset="100%" stop-color="#cecece"/>
                                        </linearGradient>
                                    </defs>
                                    {% if count > 0 %}
                                    <rect class="bar-rect" y="0" width="{{ '{:.2f}'.format(count * 100) }}%" height="24" rx="3" ry="3"/>
                                    {% if count > 0.2 %}
                                    <text x="{{ '{:.2f}'.format((count - 0.01) * 100) }}%" y="12" fill="#212121" text-anchor="end" alignment-baseline="central">{{ '{:.2f}'.format(count * 100) }}%</text>
                                    {% else %}
                                    <text x="{{ '{:.2f}'.format((count + 0.01) * 100) }}%" y="12" fill="#ffffff" text-anchor="start" alignment-baseline="central">{{ '{:.2f}'.format(count * 100) }}%</text>
                                    {% endif %}
                                    {% else %}
                                    <rect class="bar-rect" y="0" width="2px" height="24" rx="3" ry="3"/>
                                    <text x="2.0%" y="12" fill="#ffffff" text-anchor="start" alignment-baseline="central">0.00%</text>
                                    {% endif %}
                                </svg>
                            </div>
                            {% endfor %}
                            {% else %}
                            <svg width="100%" height="24">
                                <defs>
                                    <linearGradient id="bar-gradient">
                                        <stop offset="0%" stop-color="#17b9b6"/>
                                        <stop offset="100%" stop-color="#83ffa6"/>
                                    </linearGradient>
                                </defs>
                                {% if counts > 0 %}
                                <rect class="bar-rect" y="0" width="{{ '{:.2f}'.format(counts * 100) }}%" height="24" rx="3" ry="3"/>
                                {% if counts > 0.2 %}
                                <text x="{{ '{:.2f}'.format((counts - 0.01) * 100) }}%" y="12" fill="#212121" text-anchor="end" alignment-baseline="central">{{ '{:.2f}'.format(counts * 100) }}%</text>
                                {% else %}
                                <text x="{{ '{:.2f}'.format((counts + 0.01) * 100) }}%" y="12" fill="#ffffff" text-anchor="start" alignment-baseline="central">{{ '{:.2f}'.format(counts * 100) }}%</text>
                                {% endif %}
                                {% else %}
                                <rect class="bar-rect" y="0" width="2px" height="24" rx="3" ry="3"/>
                                <text x="2.0%" y="12" fill="#ffffff" text-anchor="start" alignment-baseline="central">0.00%</text>
                                {% endif %}
                            </svg>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}                                                     
                </ul>
                <button type="button" class="toggle-data-btn">Show More</button>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{%- endmacro %}

{% macro matrix_table_section(data_dict) -%}
<section class="survey-item-section matrix">
    <div class="category-description">
        <h2>{{ data_dict['title'] }}</h2>
        {% set paragraphs = data_dict['description'].split('\n') %}
        {% for p in paragraphs %}
        <p>{{ p }}</p>
        {% endfor %}
    </div>
    <div class="category-results">
        {% set max_val = data_dict['data'] | sum(start=[]) | max %}
        <div class="matrix-table">
            <svg width="100%" height="45px">
                <defs>
                    <linearGradient id="legend-gradient">
                        <stop offset="0%" stop-color="hsla(0, 0%, 13%, 0%)"/>
                        <stop offset="100%" stop-color="hsl(185, 87%, 24%)"/>
                    </linearGradient>
                </defs>
                <rect y="0" width="150px" height="14px" fill="url(#legend-gradient)"/>
                <text y="25px" fill="hsl(0, 0%, 100%)" text-anchor="start" alignment-baseline="central">0%</text>
                <text x="150px" y="25px" fill="hsl(0, 0%, 100%)" text-anchor="end" alignment-baseline="central">{{ '{:.2f}'.format(max_val * 100) }}%</text>
            </svg>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            {% for col in data_dict['headings']['columns'] %}
                            <th>{{ col }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row_data in data_dict['data'] %}
                        <tr>
                            <td>{{ data_dict['headings']['rows'][loop.index0] }}</td>
                            {% for col_data in row_data %}
                            <td style="background-color: hsla(185, 87%, 24%, {{ (col_data / max_val) * 100 }}%) !important;">{{ '{:.2f}'.format(col_data * 100) }}%</td>
                            {% endfor %}
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{%- endmacro %}