<section class="container">
    <div>
        <section>
            <div class="content">
                <div class="category-description">
                    <h2>Tools Used, Loved, and Hated</h2>
                    <p>Our developers in Eastern Visayas really do love their JavaScript tools. Less than half of respondents stated that they use npm with less than a quarter reporting they use Yarn. Despite the popularity of JavaScript, Docker and Pip has shown notable usage as well, but are not on par with the popularity of npm. Nevertheless, Docker has seen more desire to be used this year than npm itself.</p>
                    <p>While generally, npm is the most used tool in the region, among students and the unemployed, Composer takes the lead in terms of usage. This suggests that a lot of students have been involved with development using PHP in 2023. However, npm still takes a notable second place and Pip still staying at the top five most used tools. Docker is not as commonly used among students and the unemployed compared to professionals.</p>
                </div>
                <div class="category-results">
                    <nav class="data-demographic-tabs">
                        {% for demographic in tools_used['data'].keys() %}
                        {% if loop.index == 1 %}
                        <menu class="selected">{{ demographic }}</menu>
                        {% else %}
                        <menu>{{ demographic }}</menu>
                        {% endif %}
                        {% endfor %}
                    </nav>
                    <div>
                        {% for data in tools_used['data'].values() %}
                        {% if loop.index == 1 %}
                        <div>
                        {% else %}
                        <div class="hide">
                        {% endif %}
                            <ul class="bar-graph">
                                {% for tool, counts in data %}
                                <li>
                                    <div class="label">{{ tool }}</div>
                                    <div class="bar">
                                        {% for count in counts %}
                                        <div>
                                            <label>{{ tools_used['headers'][loop.index] }}</label>
                                            <svg width="100%" height="24">
                                                <defs>
                                                    <linearGradient id="bar-gradient">
                                                        <stop offset="0%" stop-color="#17b9b6"/>
                                                        <stop offset="100%" stop-color="#83ffa6"/>
                                                    </linearGradient>
                                                    <linearGradient id="subbar-gradient">
                                                        <stop offset="0%" stop-color="#808080"/>
                                                        <stop offset="100%" stop-color="#cecece"/>
                                                    </linearGradient>
                                                </defs>
                                                {% if count > 0 %}
                                                <rect class="bar-rect" y="0" width="{{ '{:.2f}'.format(count * 100) }}%" height="24" rx="3" ry="3"/>
                                                {% if count > 0.2 %}
                                                <text x="{{ '{:.2f}'.format((count - 0.01) * 100) }}%" y="12" fill="#212121" text-anchor="end" alignment-baseline="central">{{ '{:.2f}'.format(count * 100) }}%</text>
                                                {% else %}
                                                <text x="{{ '{:.2f}'.format((count + 0.01) * 100) }}%" y="12" fill="#ffffff" text-anchor="start" alignment-baseline="central">{{ '{:.2f}'.format(count * 100) }}%</text>
                                                {% endif %}
                                                {% else %}
                                                <rect class="bar-rect" y="0" width="2px" height="24" rx="3" ry="3"/>
                                                <text x="2.0%" y="12" fill="#ffffff" text-anchor="start" alignment-baseline="central">0.00%</text>
                                                {% endif %}
                                            </svg>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </li>
                                {% endfor %}                                                     
                            </ul>
                            <button type="button" class="toggle-data-btn">Show More</button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>