{% import 'pages/surveys/evtss2023/_components.html' as components %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Dev8 Eastern Visayas Tech Scene Survey 2023</title>
    <meta name="description" content="Learn the state of the tech scene of Eastern Visayas in 2023.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="https://dev8community.github.io/surveys/evtss2023/" />
    <meta property="og:title" content="Dev8 Eastern Visayas Tech Scene Survey 2023" />
    <meta property="og:image" content="/assets/surveys/evtss2023/img/og-fb-image.jpg" />
    <meta property="og:image:alt" content="View the Dev8 Eastern Visayas Tech Scene Survey 2023 results." />
    <meta property="og:description" content="Learn the state of the tech scene of Eastern Visayas in 2023." />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Dev8" />
    <meta property="og:locale" content="en_PH" />
    <meta property="twitter:title" content="Dev8 Eastern Visayas Tech Scene Survey 2023" />
    <meta property="twitter:image" content="/assets/surveys/evtss2023/img/twitter-image.jpg" />
    <meta property="twitter:image:alt" content="View the Dev8 Eastern Visayas Tech Scene Survey 2023 results." />
    <meta property="twitter:description" content="Learn the state of the tech scene of Eastern Visayas in 2023." />
    <meta property="twitter:site" content="@dev8community" />
    <meta property="twitter:card" content="summary" />
    <link href="/assets/surveys/evtss2023/css/index.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="/assets/img/logo.png" rel="icon" type="image/x-icon">
    <script type="text/javascript" src="/assets/surveys/evtss2023/js/page.js"></script>
</head>
<body>
    {% include 'pages/surveys/evtss2023/_hero-section.html' %}
    <main>
        {% include 'pages/surveys/evtss2023/_highlights-section.html' %}

        <section class="container">
            <h1>Technologies</h1>
            {{ components.bar_graph_section(primary_languages) }}

            {{ components.link_to_url("View More Technology Results", "technologies") }}
        </section>
        <section class="container">
            <h1>Development</h1>
            {{ components.bar_graph_section(software_being_developed) }}

            {{ components.link_to_url("View More Development Results", "development") }}
        </section>
        <section class="container">
            <h1>Developer Profile</h1>
            {{ components.bar_graph_section(personal_description) }}

            {{ components.bar_graph_section(developer_type) }}

            {{ components.bar_graph_section(length_of_programming_experience) }}

            {{ components.bar_graph_section(length_of_professional_programming_experience) }}

            {{ components.matrix_table_section(length_of_programming_experience_by_developer_type) }}

            {{ components.matrix_table_section(length_of_professional_programming_experience_by_developer_type) }}

            {{ components.bar_graph_section(developer_activities) }}

            {{ components.bar_graph_section(location) }}

            {{ components.bar_graph_section(gender) }}

            {{ components.bar_graph_section(age) }}

            {{ components.bar_graph_section(hometown) }}

            {{ components.matrix_table_section(hometown_to_location, require_headers=true) }}

            {{ components.bar_graph_section(educational_attainment) }}

            {{ components.bar_graph_section(college_alma_mater) }}

            {{ components.bar_graph_section(degree_programme) }}

            {{ components.matrix_table_section(academic_learning_satisfaction, require_headers=true) }}

            {{ components.bar_graph_section(computer_used_most_of_the_time) }}

            {{ components.bar_graph_section(pc_specs) }}

            {{ components.bar_graph_section(pc_os) }}

            {{ components.bar_graph_section(mac_models) }}

            {{ components.bar_graph_section(mac_os) }}

            {{ components.text_only_section(tablets) }}
        </section>
        <section class="container">
            <h1>Work and Academics</h1>
            {{ components.bar_graph_section(occupation) }}

            {{ components.bar_graph_section(employer_location) }}

            {{ components.bar_graph_section(employment_arrangement) }}

            {{ components.bar_graph_section(annual_income_range) }}

            {{ components.matrix_table_section(annual_income_satisfaction, require_headers=true) }}

            {{ components.bar_graph_section(academic_arrangement) }}
        </section>
        <section class="container">
            <h1>Recent Issues</h1>
            {{ components.bar_graph_section(ai_search_tools_used) }}

            {{ components.bar_graph_section(ai_developer_tools_used) }}

            {{ components.bar_graph_section(ai_datasets_opinion) }}

            {{ components.bar_graph_section(ai_art_opinion) }}

            {{ components.bar_graph_section(ai_code_generation_opinion) }}
        </section>
        <section class="container">
            <h1>State of the Eastern Visayas Tech Scene</h1>
            {{ components.text_only_section(local_cs_it_sentiments) }}

            {{ components.bar_graph_section(desired_tech_events_in_the_region) }}

            {{ components.bar_graph_section(desired_tech_event_topics) }}
        </section>
        <section class="container">
            <h1>Miscellaneous</h1>
            {{ components.bar_graph_section(survey_length) }}
            
            {{ components.bar_graph_section(survey_difficulty) }}

            {{ components.bar_graph_section(event_food_and_drinks) }}

            {{ components.bar_graph_section(event_locations) }}
        </section>

        {% include 'pages/surveys/evtss2023/_thank-you-section.html' %}

        {% include 'pages/surveys/evtss2023/_credits-licensing-section.html' %}

    </main>
</body>
</html>
