{% import 'pages/surveys/evtss2023/_sections.html' as sections %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev8</title>
    <link href="/assets/surveys/evtss2023/css/index.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="/assets/img/logo.png" rel="icon" type="image/x-icon">
    <script type="text/javascript">
        function main() {
            let dataToggleButtons = document.getElementsByClassName('toggle-data-btn');
            Array.from(dataToggleButtons).forEach(function (btn) {
                btn.addEventListener('click', function() {
                    let graph = btn.previousElementSibling;
                    if (graph.classList.contains('show-all')) {
                        graph.classList.remove('show-all');
                        const scrollY = graph.getBoundingClientRect().top + window.scrollY - 60;
                        window.scroll({
                            top: scrollY,
                            behavior: 'smooth'
                        });

                        btn.innerHTML = 'Show More'
                    } else {
                        graph.classList.add('show-all');
                        btn.innerHTML = 'Show Less'
                    }
                });
            });

            let tabButtons = document.getElementsByClassName('data-demographic-tabs');
            for (let tab of tabButtons) {
                let buttons = tab.children;
                let dataGroups = tab.nextElementSibling.children;

                Array.from(buttons).forEach((button, index) => {
                    button.addEventListener('click', () => {
                        if (!button.classList.contains('selected')) {
                            Array.from(buttons).forEach((button) => {
                                button.classList.remove('selected');
                            });

                            // Hide all data groups first before.
                            Array.from(dataGroups).forEach((group) => {
                                group.classList.add('hide');
                            });

                            button.classList.add('selected');
                            dataGroups[index].classList.remove('hide');
                        }
                    });
                });
            }
        }

        document.addEventListener('DOMContentLoaded', main);
    </script>
</head>
<body>
    {% include 'pages/surveys/evtss2023/_hero-section.html' %}
    <main>
        {% include 'pages/surveys/evtss2023/_highlights-section.html' %}

        <section class="container">
            <h1>Technologies</h1>
            {{ sections.bar_graph_section(primary_languages) }}

            {{ sections.bar_graph_section(languages_used) }}

            {{ sections.bar_graph_section(frameworks_used) }}

            {{ sections.bar_graph_section(tools_used) }}

            {{ sections.bar_graph_section(ides_used) }}
            
            {{ sections.bar_graph_section(databases_used) }}

            {{ sections.bar_graph_section(cloud_platforms_used) }}

            {{ sections.bar_graph_section(work_management_used) }}

            {{ sections.bar_graph_section(communication_tools_used) }}
        </section>
        <section class="container">
            <h1>Development</h1>
            {{ sections.bar_graph_section(software_being_developed) }}

            {{ sections.bar_graph_section(target_platforms) }}
        </section>
        <section class="container">
            <h1>Developer Profile</h1>
            {{ sections.bar_graph_section(personal_description) }}

            {{ sections.bar_graph_section(developer_type) }}

            {{ sections.bar_graph_section(length_of_programming_experience) }}

            {{ sections.bar_graph_section(length_of_professional_programming_experience) }}

            {{ sections.matrix_table_section(length_of_programming_experience_by_developer_type) }}

            {{ sections.matrix_table_section(length_of_professional_programming_experience_by_developer_type) }}

            {{ sections.bar_graph_section(developer_activities) }}

            {{ sections.bar_graph_section(location) }}

            {{ sections.bar_graph_section(gender) }}

            {{ sections.bar_graph_section(age) }}

            {{ sections.bar_graph_section(hometown) }}
        </section>

        {% include 'pages/surveys/evtss2023/_credits-licensing-section.html' %}

    </main>
</body>
</html>
