@use 'sass:color';

@import '_variables.scss';
@import '../../_mixins.scss';

header {
    $bg-grid-colour: color.change($color-white, $alpha: 0.25);

    background-color: $dark-green;
    background-image:
        linear-gradient(90deg, $bg-grid-colour 1px, transparent 1px),
        linear-gradient(0deg, $bg-grid-colour 1px, transparent 1px);
    background-size: 3rem 3rem;
    background-position: center;
    color: $color-white;

    min-height: 100vh;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    div#header-bg-curves {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-area: 1 / 1 / 1 / 1;

        img {
            width: 75%;
            max-width: 455px;

            display: block;
        }

        img#header-bg-curve-top {
            align-self: start;
            justify-self: start;
        }

        img#header-bg-curve-bottom {
            align-self: end;
            justify-self: end;
        }
    }

    div#header-content {
        grid-area: 1 / 1 / 1 / 1;
        display: flex;
        flex-direction: column;

        div#hero-logo {
            margin-bottom: 5%;
            box-sizing: border-box;

            img {
                max-width: 55px;
                height: auto;
            
                margin-left: auto;
                margin-right: auto;
            
                display: block;
            }

            @include tablets {
                margin-bottom: 0;
            }
        }

        div#hero-main-content {
            height: 100%;
        
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: auto;

            img#hero-image {
                width: 85%;
                max-width: 451px;
                max-height: 100vh;
            
                grid-area: 1 / 1 / 1 / 1;
                justify-self: end;
            
                display: block;
            }

            div#hero-content {
                grid-area: 1 / 1 / 1 / 1;
                align-self: end;

                h1 {
                    font-size: 2.5rem;
                    line-height: 2.5rem;
                
                    margin-bottom: 2%;

                    @include tablets {
                        font-size: 2.5rem;
                        line-height: 2.5rem;
                    
                        margin-bottom: 0.5%;
                    }
                }

                p {
                    margin-top: 0;
                    margin-bottom: 3%;

                    @include tablets {
                        max-width: 50%;
                        margin-bottom: 1%;
                    }
                }

                a {
                    button {
                        @include tablets {
                            padding: 1.5%;
                            max-width: 300px;
                        }
                    }
                }
            }
        }
    }
}
