main section#highlights {
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);

    h1 {
        background: linear-gradient(180deg, rgb(131, 255, 166), rgb(23, 185, 182));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    div#highlight-cards {
        display: flex;
        flex-direction: column;
        gap: 15px;

        p {
            margin: 0;
        }

        div {
            background-color: rgb(41, 41, 41);
            border-radius: 5px;
        
            padding: 5%;

            &#most-popular-primary-lang-highlight {
                background-image:
                    linear-gradient(0deg, hsla(0, 0%, 16%, 0.75), transparent),
                    url('/assets/surveys/evtss2023/img/js.svg');
                background-size: cover;
            
                min-height: 190px;
            
                display: flex;

                p {
                    align-self: last baseline;
                }
                
                @include tablets {
                    grid-area: a;
                }
            }
            
            &#full-stack-dev-highlight {
                background-image:
                    linear-gradient(0deg, hsla(0, 0%, 16%, 0.75), transparent),
                    url('/assets/surveys/evtss2023/img/code.webp');
                background-size: cover;
            
                min-height: 190px;
            
                display: flex;

                p {
                    align-self: last baseline;
                }

                @include tablets {
                    grid-area: b;
                }
            }

            &#top-languages-want-highlight {
                background-image: linear-gradient(270deg, rgba(131, 255, 166, 0.4), transparent);
            
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;

                @include tablets {
                    grid-area: c;
                }
            }

            &#degree-highlight {
                background-image:
                    linear-gradient(0deg, rgba(41, 41, 41, 0.75), transparent),
                    url('/assets/surveys/evtss2023/img/it-students.jpg');
                background-size: cover;
            
                min-height: 190px;
            
                display: flex;

                p {
                    align-self: last baseline;
                }

                @include tablets {
                    grid-area: d;
                }
            }

            &#location-highlight {
                background-image:
                    linear-gradient(0deg, rgba(41, 41, 41, 0.75), transparent),
                    url('/assets/surveys/evtss2023/img/tacloban.webp');
                background-size: cover;
            
                min-height: 190px;
            
                display: flex;

                p {
                    align-self: last baseline;
                }

                @include tablets {
                    grid-area: e;
                }
            }

            &#academic-satisfaction-highlight {
                background-image:
                    linear-gradient(0deg, rgba(41, 41, 41, 0.75), transparent),
                    url('/assets/surveys/evtss2023/img/tacloban.webp');
                background-size: cover;
            
                min-height: 190px;
            
                display: flex;

                p {
                    align-self: last baseline;
                }
            }

            &#annual-income-range-highlight {
                background-image: linear-gradient(270deg, rgba(23, 185, 182, 0.4), transparent);
            
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }

            &#ai-stance-highlight {
                background-image:
                    linear-gradient(0deg, rgba(41, 41, 41, 0.75), transparent),
                    url('/assets/surveys/evtss2023/img/ai.webp');
                background-size: cover;
            
                min-height: 190px;
            
                display: flex;

                p {
                    align-self: last baseline;
                }
            }

            @include tablets {
                padding: 3%;
            }
        
            @include xlarge-screens {
                padding: 2%;
            }
        }

        @include tablets {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-template-areas:
                'a b b'
                'a c c'
                'd d e'
                'f f f';
        }
    }
}
