// Common CSS classes in the Eastern Visayas Tech Scene Survey 2023 page.
@use 'sass:color';

@import '_variables.scss';

button {
    border: none;
    border-radius: 5px;

    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 1rem;

    width: 100%;
    height: 2.25rem;

    padding: 3%;

    &.dark-btn {
        background-color: $btn-dark-color;
        color: $white;

        box-shadow: 3px 3px 5px hsl(185, 42%, 15%),
                    -1px -1px 3px hsl(185, 89%, 37%);

        &:active {            
            box-shadow: inset 3px 3px 15px hsl(185, 42%, 15%),
                        inset -3px -3px 15px hsl(185, 89%, 37%);
        }
    }

    &:hover {
        cursor: pointer;
    }

    @include tablets {
        padding: 5px;
    }
}

ul.bar-graph {
    list-style-type: none;

    margin-top: 0;
    padding: 0;

    li {
        display: flex;
        flex-direction: row;
        align-self: center;
        gap: 5px;
        
        margin-bottom: 7px;

        &:nth-child(n+11) {
             display: none;
        }
        
        &:last-child {
            margin-bottom: 0;
        }

        div {
            &.label {
                font-size: 0.81rem;
                font-weight: 700;

                text-align: end;
                line-height: 24px;
                text-overflow: ellipsis;

                min-width: 85px;
                height: 100%;

                margin-right: 5px;

                flex-grow: 0;
                flex-basis: 20%;
                align-self: stretch;
            }

            &.bar {
                flex-grow: 1;

                div {
                    margin-bottom: 5px;

                    &:nth-child(n+2) {
                        rect {
                            &.bar-rect {
                                fill: url(#subbar-gradient);
                            }
                        }
                    }
                }

                label {
                    color: hsl(0, 0%, 75%);

                    font-size: 0.75rem;

                    margin-bottom: 5px;

                    display: block;
                }

                svg {
                    display: block;

                    rect {
                        &.bar-rect {
                            fill: url(#bar-gradient);
                        }
                    }

                    text {
                        font-size: 0.81rem;
                    }
                }
            }
        }
    }

    &.show-all {
        li {
            &:nth-child(n+11) {
                display: flex;
            }
        }
    }
}

main {
    background-color: $dev8-black;

    section {
        color: $white;

        h1 {
            margin-bottom: 1rem;
        }

        h2 {
            margin-top: 0;
        }

        div.content {
            div {
                &.category-description {
                    margin-bottom: 25px;

                    p {
                        &:first-child {
                            margin-top: 0;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    @include small-screens {
                        flex: 1;
                    }
                }

                &.category-results {
                    button {
                        border-width: 1px;
                        font-size: 0.81rem;

                        box-shadow: 3px 3px 5px hsl(0, 0%, 8%),
                                    -1px -1px 3px hsl(0, 0%, 45%);

                        margin-left: auto;
                        margin-right: auto;

                        display: block;

                        &:hover {
                            background-color: hsl(0, 0%, 80%);
                        }

                        &:active {
                            background-color: $white;
                            border-color: $dev8-black;
                            color: $dev8-black;
                            
                            box-shadow: inset 3px 3px 15px $dev8-black,
                                        inset -3px -3px 15px $white;
                        }

                        @include tablets {
                            min-width: 100px;
                            max-width: fit-content;
                        }
                    }

                    nav {
                        margin-bottom: 20px;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 15px;

                        menu {
                            border: solid $white 1px;
                            border-radius: 1000px;

                            font-size: 0.81rem;
                            color: $white;

                            cursor: pointer;
                            user-select: none;

                            margin: 0;
                            padding: 10px;
                            padding-left: 3%;
                            padding-right: 3%;

                            &:hover {
                                background-color: $white;
                                color: $dev8-black;
                            }

                            &:active,
                            &.selected {
                                background-color: $white;
                                border-color: $dev8-black;
                                color: $dev8-black;
                            }

                            &:active {
                                box-shadow: inset 3px 3px 15px $dev8-black;
                            }

                            &.selected {
                                box-shadow: inset 1px 1px 15px $dev8-black;
                            }
                        }

                        @include tablets {
                            flex-direction: row;
                        }
                    }

                    @include small-screens {
                        flex: 2;
                    }
                }
            }

            @include small-screens {
                display: flex;
                flex-direction: row;
                gap: 3%;
            }
        }
    }
}
