@use "../../mixins";
@use "../../variables";

body.subpage {
    background-color: variables.$dev8-black;
    color: variables.$white;

    main, nav#pagination-buttons {
        padding-top: 0;
    }

    nav#pagination-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        a {
            &#previous-btn {
                margin-right: auto;    
            }

            &#next-btn {
                margin-left: auto;
            }

            button {
                padding-left: 10px;
                padding-right: 10px;
                
                span.btn-text {
                    display: none;

                    @include mixins.small-screens {
                        display: inline;
                    }
                }
            }
        }
    }
}