{% import 'pages/_components.html' as components %}

{% set navigation_bar = [
    ('Home', '/'),
    ('About', '/about'),
    ('Events', '/events'),
    ('Contacts', '/contacts'),
]
-%}

<div id="navbar" class="container">
    {{ components.dev8_logo() }}
    <nav>
        <ul>
            {% for title, href in navigation_bar %}
            <li>
                {% if active_page == title %}
                {{ components.link_to_url(title, href, true) }}
                {% else %}
                {{ components.link_to_url(title, href) }}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </nav>
</div>
