{#
    Uses `set active_page` to define what is the current page around the entire site.
    Uses `{% block relative_url %}{% endblock %}` to tell where the page is.
#}

{% import 'pages/_components.html' as components %}

{% set page_title %}{% block title %}{% endblock %}{% endset %}
{% set custom_css %}{% block css %}{% endblock %}{% endset %}

{% set page_description %}{% block opengraph_desc %}{% endblock %}{% endset %}
{% set img_description %}{% block opengraph_img_desc %}{% endblock %}{% endset %}
{% set og_img_url %}{% block opengraph_og_img %}{% endblock %}{% endset %}
{% set twt_img_url %}{% block opengraph_twt_img %}{% endblock %}{% endset %}

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>{%if not active_page == "Home"%}{{ page_title }} -{% endif %} Dev8</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <meta name="description" content="{{ page_description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="https://dev8community.github.io/{% block relative_url %}{% endblock %}" />
    <meta property="og:title" content="{%if not active_page == 'Home'%}{{ page_title }} -{% endif %} Dev8" />
    
    <meta property="og:image" content="{{ og_img_url }}" />
    <meta property="og:image:alt" content="{{ img_description }}" />
    <meta property="og:description" content="{{ page_description }}" />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{%if not active_page == 'Home'%}{{ page_title }} -{% endif %} Dev8" />
    <meta property="og:locale" content="en_PH" />
    <meta property="twitter:title" content="{%if not active_page == 'Home'%}{{ page_title }} -{% endif %} Dev8" />

    <meta property="twitter:image" content="{{ twt_img_url }}" />
    <meta property="twitter:image:alt" content="{{ img_description }}" />
    <meta property="twitter:description" content="{{ page_description }}" />

    <meta property="twitter:site" content="@dev8community" />
    <meta property="twitter:card" content="summary" />
    
    {# Stylesheet #}
    <link href="/assets/css/index.css" rel="stylesheet" type="text/css">
    {# Put custom CSS here#}
    {{ custom_css }}
</head>
<body>
    <header>
        {% include 'pages/_navbar.html' %}
    </header>
    {% block content %}
    {% endblock %}
    {% include 'pages/_footer.html' %}
</body>
</html>
