{% import 'pages/_components.html' as components %}

{% extends "pages/_subpage.html" %}
{% set active_page = "Contacts" %}

{% block title %}Contacts{% endblock %}
{% block relative_url %}contacts{% endblock %}

{% block opengraph_desc %}All about Dev8 and its vision for Region 8.{% endblock %}
{% block opengraph_img_desc %}View the Dev8's Event Code of Conduct here.{% endblock %}
{% block opengraph_og_img %}/assets/events/boot2025/img/socials/og-fb-image.png{% endblock %}
{% block opengraph_twt_img %}/assets/events/boot2025/img/socials/og-twt-image.png{% endblock %}


{% block css %}<link href="/assets/css/contacts.css" rel="stylesheet" type="text/css">{% endblock %} 

{% block content %}

<main>
    <section class="top-most container">
        <h1>Contact Us</h1>
        <!-- <div class="contact-us-left">
            
        </div> -->
        <div class="contact-box">
            <div class="box-contents">
                <div class="window-tab">
                    <div class="window-title">Contact Box</div>
                    <img class="close-button" src="/assets/events/boot2025/img/close_button.svg">
                </div>
                <div class="window-items">
                    <div class="contact-form">
                        <h1>Visit our socials!</h1>
                        <a href="https://www.facebook.com/dev8community/" class="socials-item">
                            <img src="/assets/img/facebook-logo.png">
                            <p class="socials-name">Facebook</p>
                            <p> ></p>
                        </a>
                        <a href="mailto:dev8community@gmail.com" class="socials-item">
                            <img src="/assets/img/email.png">
                            <p class="socials-name">E-Mail</p>
                            <p> ></p>
                        </a>
                    </div>
                    <img class="ev-svg" src="/assets/img/ev.svg">
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}
