{% import 'pages/_components.html' as components %}

{% extends "pages/_subpage.html" %}
{% set active_page = "Contacts" %}

{% block title %}Contacts{% endblock %}
{% block relative_url %}contacts{% endblock %}

{% block opengraph_desc %}All about Dev8 and its vision for Region 8.{% endblock %}
{% block opengraph_img_desc %}View the Dev8's Event Code of Conduct here.{% endblock %}
{% block opengraph_og_img %}/assets/events/boot2025/img/socials/og-fb-image.png{% endblock %}
{% block opengraph_twt_img %}/assets/events/boot2025/img/socials/og-twt-image.png{% endblock %}


{% block css %}<link href="/assets/css/contacts.css" rel="stylesheet" type="text/css">{% endblock %} 

{% block content %}

<main>
    <section class="top-most container flex">
        <div class="about-us-logo">
            <img src="/assets/img/logo-with-text-black.png">
        </div>
        <div class="about-us-description">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque laoreet scelerisque venenatis. Nam feugiat felis mauris, vitae pretium erat congue ac. Praesent luctus lectus eu interdum dapibus. Cras iaculis cursus nunc, non efficitur lorem euismod sit amet. Donec pretium accumsan dui, nec lobortis purus pulvinar tempus. Duis arcu lorem, euismod sit amet ante vitae, mollis dignissim quam. Quisque placerat quis nibh nec sagittis. Curabitur sed enim et mauris ornare dictum sed posuere augue. Duis at risus neque. Ut non ullamcorper arcu, id maximus dolor. Pellentesque at porttitor odio, sed imperdiet urna. Proin varius est ut odio rhoncus iaculis. </p>
        </div>
    </section>
    <section class="top-most container flex">
        <div class="mission-vision">
            <h1>Our Mission</h1>
            <p>
                Dev8 is more than just a coding platform; it's a vibrant community of developers, designers, and tech enthusiasts united by a passion for innovation. We provide a space where you can learn, collaborate, and grow your skills alongside like-minded individuals.
            </p>
        </div>
        <div class="mission-vision">
            <h1>Our Vision</h1>
            <p>
                Dev8 is more than just a coding platform; it's a vibrant community of developers, designers, and tech enthusiasts united by a passion for innovation. We provide a space where you can learn, collaborate, and grow your skills alongside like-minded individuals.
            </p>
        </div>
    </section>
</main>

{% endblock %}
