<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Dev8</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    {#
    <meta name="description" content="[INSERT DESCRIPTION HERE]">
    #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="https://dev8community.github.io/" />
    <meta property="og:title" content="Dev8" />

    {#
    <meta property="og:image" content="[INSERT IMAGE HERE]" />
    <meta property="og:image:alt" content="[INSERT DESCRIPTION HERE]" />
    <meta property="og:description" content="[INSERT DESCRIPTION HERE]" />
    #}

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Dev8" />
    <meta property="og:locale" content="en_PH" />
    <meta property="twitter:title" content="Dev8" />

    {#
    <meta property="twitter:image" content="[INSERT IMAGE HERE]" />
    <meta property="twitter:image:alt" content="[INSERT DESCRIPTION HERE]" />
    <meta property="twitter:description" content="[INSERT DESCRIPTION HERE]" />
    #}

    <meta property="twitter:site" content="@dev8community" />
    <meta property="twitter:card" content="summary" />
    {# Stylesheet #}
    <link href="/assets/css/index.css" rel="stylesheet" type="text/css">
</head>

{% set active_page = "Home" %}

<body>
    <header>
        {% include 'pages/_navbar.html' %}
    </header>

    <main>
        <section class="container flex">
            <div>
                <img class="ev-img" src="/assets/img/ev.svg">
                <div>
                    <h1>Time to make a difference in Region 8.</h1>
                    <p>We are Dev8. Our mission is to advance the region's tech scene.</p>
                </div>
            </div>
            <div>
                <h1>Events</h1>
            </div>
        </section>
    </main>

    {% include 'pages/_footer.html' %}
</body>
</html>
