{% extends "pages/events/compile/2025/article.html" %}

{% block art_title %} Title Here {% endblock %}
{% block art_subtitle %} Subtitle Here {% endblock %}
{% block art_opengraph_desc %}  {% endblock %}
{% block art_opengraph_img_desc %}  {% endblock %}
{% block art_opengraph_img %}  {% endblock %}

{% block article_content %}
{# Honestly, just use <section class="dark-grey-area flex"></section> #}
<supersection class="grey-area">
    <section class="article-section container">
        <p>Elit adipisicing dolore dolor quis consequat sint deserunt. Excepteur proident ullamco dolore enim incididunt nisi eu. Eiusmod deserunt cillum laborum commodo veniam. Ipsum ullamco incididunt aliquip aliqua cupidatat ut consequat elit ipsum. Magna cupidatat ipsum laborum sit ad sint occaecat veniam cillum duis commodo pariatur enim. Non officia nulla exercitation dolor labore adipisicing enim irure nulla. Id reprehenderit occaecat sit pariatur cillum velit esse adipisicing Lorem esse consequat ad et sint.</p>
    </section>
</supersection>
{% endblock  %}