{% extends "pages/events/compile/2025/article.html" %}

{% block art_title %} Philippine Science High School {% endblock %}
{% block art_subtitle %} Written by Shann Aurelle Ripalda & Michael Sean Brian Omisol {% endblock %}
{% block art_date %} Published on December 4, 2025 {% endblock %}
{% block art_opengraph_desc %} {% endblock %}
{% block art_opengraph_img_desc %} {% endblock %}
{% block art_opengraph_img %} {% endblock %}

{% block article_content %}
{# Honestly, just use <section class="dark-grey-area flex"></section> #}
<supersection class="grey-area">
    <section class="article-section container">
        <figure>
            <img src="/assets/events/compile/2025/img/article/pshs-evcl/0.webp" alt="Image from Scinet">
            <label>The Philippine Science High School - Eastern Visayas Campus in Leyte. -From Scinet</label>
        </figure>

        <p>Committed to the pursuit of truth, excellence and service to the Filipino people, the Philippine Science High
            School - Eastern Visayas Campus in Leyte (PSHS-EVCL) is a prestigious institution which molds high school
            students to become globally competitive people.</p>

        <p>Students in this school are an "iskolar ng bayan" or scholars of the nation, affirming their commitment to
            the needs of the nation. To become a scholar, one must be eligible to take the National Competitive
            Examination (NCE) where only a select few are lucky to pass. After passing the NCE, scholars must undergo a
            rigorous curriculum focused on science, technology, engineering, and mathematics (STEM).</p>

        <p>Due to its quality education as the leading science high school in the Asia Pacific Region, its scholars
            bested several countries in several international competitions. One of them is Hillary Diane Andales who won
            the Breakthrough Junior Challenge in 2017—which contributed to the creation of a new research building in
            the school as well as solid proof of the school's enriching environment for science to thrive in.</p>

        <figure>
            <img src="/assets/events/compile/2025/img/article/pshs-evcl/1.webp" alt="The video that brought the spotlight to Region 8. -From her Youtube video.">
            <label>The video that brought the spotlight to Region 8. -From her Youtube video.</label>
        </figure>

        <p>Aside from quality education, the school also trains scholars to be competent in research. PSHS - EVCL has
            the Center for Research in Science and Technology (CReST). Its construction started as part of the
            Breakthrough Junior Challenge prize won by Hillary Diane Andales. It features a shared facility for advanced
            digital 3D fabrication funded by the Department of Trade and Industry on the first floor, smart classrooms
            on the second floor, and the DNA extraction laboratory on the third floor. These amenities nurtured several
            scholars, one of which is Shann Aurelle G. Ripalda, a batch 2020 alumnus which recently won Best Theoretical
            Research for his co-authorship on a publication entitled On the Hardness of Generating Cyclic Profiles of
            Robustness Diagram with Loop and Time Controls at NiDS 2025 in Greece.</p>

        <p>However, the excellence of PSHS-EVCL never stops there. Aside from the sciences, the scholars of the school
            also participate in competitions like the Model United Nations (MUN). In this endeavor, MUN delegates from
            PSHS-EVCL deliberate on policy changes involving several disciplines including the humanities. This develops
            its scholars to become well-rounded individuals capable of enacting real and genuine change for the country
            and around the world.</p>

        <p>After graduation, many of its alumni scholars also became experts in tech or started their own startup
            ventures. Princess Ventures, a batch 2019 alumna of PSHS-EVCL, co-founded Buddybetes, which is an app that
            simplifies diabetes management. Another is Ryan Rey Daga, a batch 2006 alumnus who is now working as an
            Assistant Professor at University of the Philippines Tacloban College. He currently advises BS Computer
            Science students in bioinformatics.</p>

        <p>All in all, Philippine Science High School - Eastern Visayas Campus in Leyte is not only a school for gifted
            science and math students in Eastern Visayas. It is an institution that proudly serves the region by
            training gifted students to be globally competitive, socially involved, and scientifically grounded in
            pursuit of truth, excellence and service to the nation. Its alumni work in various fields in science and
            technology, bringing accolades, creating meaningful products, and raising the quality of education not only
            within the school but also to other institutions. With its immense influence and impact to Eastern Visayas
            and the entire Philippines, it deserves to be emulated as one of the national centers of innovation and
            invention in the field of science and technology.</p>
    </section>
</supersection>
{% endblock %}