@use '_variables.scss';

div.window {
    display: flex;
    align-items: stretch;

    box-sizing: border-box;

    border-right: 7px solid #000000;
    border-bottom: 7px solid #000000;

    margin: 0;

    .window__body {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        border: 4px solid #17b9b6;

        width: 100%;

        .window__header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            background: variables.$compile2025-hero-color;
            border-bottom: 4px solid #17b9b6;

            padding: 0.25rem;

            .window__title {
                font-family: "Ubuntu Mono", serif;
                font-size: 14px;
                font-weight: 700;

                color: variables.$dev8-white;

                margin: 0;
            }

            .window__close {
                display: flex;
                align-content: center;

                background: none;
                border: none;

                padding: 0;

                cursor: pointer;

                svg {
                    width: 16px;
                    height: 16px;
                    fill: white;
                }
            }
        }

        .window__content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: center;

            background-color: variables.$dev8-white;
            color: variables.$text-dark-colour;

            text-align: center;

            padding: 1rem;

            h1, p, address {
                color: variables.$text-dark-colour;

                margin: 0 0 0.5rem;
            }

            p {
                margin-bottom: 0.75rem;
            }
        }
    }

    &.person-showcase {
        div.window__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.12rem;

            p {
                &.person__name {
                    font-size: 26px;
                    font-weight: 600;
                }

                &.person__title {
                    font-family: "Ubuntu Mono", monospace;
                    font-weight: 800;
                    font-size: 21px;
                }

                &.person__name, &.person__title {
                    margin: 0;
                }
            }

            img {
                &.person__photo {
                    width: 200px;
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}

ul {
    &.horizontal-links {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        list-style-type: none;

        margin: 0;
        padding: 0;

        li {
            text-align: center;

            a {
                font-family: "Ubuntu Mono", monospace;
                font-weight: 800;
                font-size: 22px;

                color: variables.$dev8-dark-green;

                text-decoration-line: none;
            }
        }

        &.with-icons {
            li {
                a {
                    img {
                        width: 32px;
                    }
                }
            }
        }
    }
}

.link-button {
    display: block;

    font-family: "Ubuntu Mono", serif;
    font-size: 22px;
    font-weight: 700;

    color: variables.$dev8-white;

    background-color: #086972;
    border-width: 4px 4px 4px 4px;
    border-style: solid;
    border-color: #17b9b6;
    border-bottom-color: black;
    border-right-color: black;

    text-align: center;
    text-underline-position: from-font;
    text-decoration: none;
    text-decoration-skip-ink: none;

    margin: auto;
    padding: 0.25rem 0.45rem 0.25rem 0.45rem;

    width: fit-content;

    &:active {
        border-color: #17b9b6;
        border-top-color: black;
        border-left-color: black;
    }

    &.left {
        margin: 0;
    }
}
