@use '_mixins.scss';
@use '_variables.scss';

div {
    &.window {
        display: flex;
        align-items: stretch;

        box-sizing: border-box;

        border-right: 7px solid #000000;
        border-bottom: 7px solid #000000;

        margin: 0;

        .window__body {
            display: flex;
            flex-direction: column;
            align-items: stretch;

            border: 4px solid #17b9b6;

            width: 100%;

            .window__header {
                display: flex;
                align-items: center;
                justify-content: space-between;

                background: variables.$compile2025-hero-color;
                border-bottom: 4px solid #17b9b6;

                padding: 0.25rem;
                gap: 1rem;

                user-select: none;

                .window__title {
                    font-family: "Ubuntu Mono", serif;
                    font-size: 14px;
                    font-weight: 700;

                    color: variables.$dev8-white;

                    text-align: left;

                    margin: 0;

                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    min-width: 0;
                }

                .window__close {
                    display: flex;
                    align-content: center;

                    background: none;
                    border: none;

                    padding: 0;

                    cursor: pointer;

                    svg {
                        width: 16px;
                        height: 16px;
                        fill: white;
                    }
                }
            }

            .window__content {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                align-items: center;

                background-color: variables.$dev8-white;
                color: variables.$text-dark-colour;

                text-align: center;

                padding: 1rem;

                h1, p, address {
                    color: variables.$text-dark-colour;

                    margin: 0 0 0.5rem;
                }

                p {
                    margin-bottom: 0.75rem;
                }
            }
        }

        &.video {
            .window__body {
                .window__content {
                    padding: 0;
                }
            }

            &.iframe {
                .window__body {
                    .window__content {
                        width: 100%;
                        padding-top: 56.25%;

                        position: relative;

                        iframe {
                            border: none;

                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }

        &.person-showcase {
            div.window__content {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.12rem;

                p {
                    &.person__name {
                        font-size: 26px;
                        font-weight: 600;
                    }

                    &.person__title {
                        font-family: "Ubuntu Mono", monospace;
                        font-weight: 800;
                        font-size: 21px;
                    }

                    &.person__name, &.person__title {
                        margin: 0;
                    }
                }

                img {
                    &.person__photo {
                        width: 200px;
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }
    }

    &.desktop-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;

        max-width: 72px;

        user-select: none;

        img {
            &.desktop-icon__icon {
                height: 48px;
            }
        }

        p {
            &.desktop-icon__label {
                font-family: "Ubuntu Mono", sans-serif;
                font-style: normal;
                font-weight: 800;

                margin: 0;

                color: variables.$dev8-white;

                text-align: center;

                width: 100%;
            }
        }

        &.selected {
            p {
                &.desktop-icon__label {
                    background-color: variables.$dev8-console-blue;
                }
            }
        }
    }

    &.taskbar {
        display: flex;
        align-items: center;
        gap: 0.25rem;

        padding: 0.25rem;

        background-color: variables.$dev8-dark-green;

        font-family: "Ubuntu Mono", sans-serif;
        font-style: normal;
        font-weight: 800;

        border-color: variables.$dev8-green;
        border-top-width: 4px;
        border-top-style: solid;

        button {
            &.button {
                display: flex;
                flex-direction: row;
                gap: 0.25rem;
                align-items: center;

                img {
                    height: 1.25rem;
                }

                p {
                    margin: 0;
                }
            }
        }

        div {
            &.active-window-tab {
                background-color: variables.$dev8-green;
                border-color: variables.$black;
                border-right-color: variables.$dev8-white;
                border-bottom-color: variables.$dev8-white;

                color: variables.$dev8-black;

                max-width: 350px;
                width: 350px;

                text-align: left;
                text-wrap: nowrap;

                overflow: hidden;
                text-overflow: ellipsis;

                user-select: none;
            }

            &.datetime-area {
                border-color: variables.$black;
                border-right-color: variables.$dev8-white;
                border-bottom-color: variables.$dev8-white;

                margin-left: auto;

                display: none;

                user-select: none;

                @include mixins.small-screens {
                    display: block;
                }
            }
        }
    }

    &.start-menu {
        border-style: solid;
        border-width: 4px;
        border-top-color: variables.$dev8-green;
        border-right-color: variables.$black;
        border-bottom-color: variables.$black;
        border-left: none;

        ul {
            display: flex;
            flex-direction: column;
            align-items: stretch;

            margin: 0;
            padding: 0;

            li {
                flex: 1;

                border: none;

                padding: none;

                width: auto;

                user-select: none;

                &:hover {
                    background-color: variables.$dev8-green;
                    color: variables.$dev8-black;

                    cursor: pointer;
                }

                a {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.5rem;

                    color: variables.$dev8-white;

                    text-align: left;
                    text-decoration: none;

                    padding: 0.75rem;

                    img {
                        width: 36px;
                    }

                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}

ul {
    &.horizontal-links {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        list-style-type: none;

        margin: 0;
        padding: 0;

        li {
            text-align: center;

            a {
                font-family: "Ubuntu Mono", monospace;
                font-weight: 800;
                font-size: 22px;

                color: variables.$dev8-dark-green;

                text-decoration-line: none;
            }
        }

        &.with-icons {
            li {
                a {
                    img {
                        width: 32px;
                    }
                }
            }
        }
    }
}

// All button components should use this .button class moving forward.
.link-button, // For backwards compatibility.
.button,
.rectangle-primitive {
    display: block;

    font-family: "Ubuntu Mono", serif;
    font-size: 22px;
    font-weight: 700;

    color: variables.$dev8-white;

    background-color: #086972;
    border-width: 4px 4px 4px 4px;
    border-style: solid;
    border-color: #17b9b6;

    text-align: center;
    text-underline-position: from-font;
    text-decoration: none;
    text-decoration-skip-ink: none;

    padding: 0.25rem 0.45rem 0.25rem 0.45rem;

    width: fit-content;
}

.link-button, // For backwards compatibility.
.button {
    border-bottom-color: black;
    border-right-color: black;

    &:active {
        border-color: #17b9b6;
        border-top-color: black;
        border-left-color: black;
    }

    &.left {
        margin: 0;
    }
}

.link-button {
    // For backwards compatibility.
    margin: auto;
}

.monospace-area {
    background-color: variables.$grey;

    padding: 0.25rem;

    p,
    h1 {
        font-family: 'Ubuntu Mono', sans-serif;
        font-weight: 600;
        font-size: 1.5rem;

        color: variables.$dev8-white !important;

        line-height: 1.5rem;
        text-align: left;

        white-space: pre-wrap;
        word-break: break-all;

        &:first-child {
            margin-top: 0;
        }
    }

    p,
    img {
        margin: 0.25rem 0 0 !important;
    }

    p {
        line-height: 2.25rem;

        span {
            &.highlighted {
                color: variables.$dev8-light-green;
            }
        }

        a {
            color: variables.$dev8-light-green;

            text-decoration: underline;
        }

        &.text-with-icons {
            display: block;

            text-align: left;

            img {
                display: inline-block;
                height: 1rem;
                margin: 0 !important;
            }
        }
    }
}
