// Common CSS classes in the Eastern Visayas Tech Scene Survey 2023 page.
@use 'sass:color';

@import '_variables.scss';

html {
    margin: 0;

    width: 100%;
    height: 100%;
}

body {
    background: $white;

    margin: 0;

    min-height: 100%;
    width: 100%;
}

.ev-img {
    height: 250px;
}

header {
    display: flex;
    align-items: stretch;
    
    nav {
        justify-content: right;
    }

    // nav {
    //     box-sizing: border-box;
    //     width: 50%;
        
    //     display: flex;
    //     justify-content: right;
    //     flex: auto;

    //     li {
    //         display: inline;
    //         padding: 16px;

    //         font-family: "Open Sans", Helvetica, Arial, sans-serif;
    //         font-size: 14px;
    //         font-weight: 400;
    //         font-style: normal;

    //         a {
    //             color: $dev8-black;
    //             text-decoration: none;
            
    //             &:hover {
    //                 color: $dev8-green;
    //                 text-decoration: underline;
    //             }
                
    //         }

    //         a.active {
    //             color: $dev8-green;
    //             font-weight: 700;
    //             text-decoration: underline;
    //         }

    //     }
    // }
}

.logo-section{
    box-sizing: border-box;
    width: 20%;
    flex: initial;

    img {
        max-width: 45px;
        height: auto;
    
        margin-left: auto;
        margin-right: 10px;
    
        display: block;
        float: left;

        position: relative;
        top: 5px;
    }

    h1 {
        font-family: "Prata", serif;
        font-weight: 400;
        font-style: normal;
        
        color: $dev8-green;
    }

    a {
        text-decoration: none;
    }
}

