// Common CSS classes in the Eastern Visayas Tech Scene Survey 2023 page.
@use 'sass:color';

@import '_variables.scss';

html {
    margin: 0;

    width: 100%;
    height: 100%;
}

body {
    background: $white;

    margin: 0;

    min-height: 100%;
    width: 100%;
}

.ev-img {
    height: 250px;
}

footer {
    img.facebook-logo {
        content: url("/assets/events/boot2025/img/icons/social_facebook.png");
    
    }
}

.redirect-notice {
    height: 73vh;
    text-align: center;

    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}  
