$white: hsl(0, 0%, 100%);

$dev8-black: hsl(0, 0%, 13%);
$dev8-green: hsl(179, 78%, 41%);
$dev8-light-green: hsl(137, 100%, 76%);
$dev8-subtle-white: hsl(0, 0%, 30%);

$dark-green: hsl(192, 67%, 15%);
$btn-dark-color: hsl(185, 87%, 24%);
$btn-dark-shadow-color: hsl(0, 0%, 17%);
$btn-dark-inset-shadow-color: hsl(0, 0%, 15%);
$btn-light-color: $dev8-light-green;
$btn-light-box-shadow-color: hsl(137, 14%, 13%);
$btn-light-box-shadow-2-color: color.change($dev8-light-green, $saturation: 90%, $lightness: 45%);

$link-colour: hsl(137, 100%, 76%);
$link-colour-hovered: hsl(137, 100%, 90%);
$link-colour-active: hsl(137, 100%, 65%);