// Common CSS classes in the Eastern Visayas Tech Scene Survey 2023 page.
@use 'sass:color';

@use '_mixins.scss';
@use '_variables.scss';

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;

    margin: 0;
}


h1, h2 {
    font-family: "Prata", Helvetica, Arial, sans-serif;
}

h1 {
    font-weight: 900;
    font-size: 2rem;
    line-height: normal;

    margin-top: 0;
    margin-bottom: 0;
}

h1 small {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1rem;
}

strong.extra-emphasized-text {
    font-size: 1.75rem;
}

img {
    max-width: 100%;
    height: auto;
}

header {    
    div#navbar {
        display: flex;
        flex-direction: column;
        
        div.logo-section {
            margin-left: auto;
            margin-right: auto;
            text-align: center;

            flex: initial;
        
            img {
                max-width: 45px;
                height: auto;
            
                display: block;
                float: left;
        
                position: relative;
                top: 5px;
            }
        
            h1 {
                font-family: "Prata", serif;
                font-weight: 400;
                font-style: normal;
                
                color: variables.$dev8-green;
            }
        
            a {
                text-decoration: none;
            }
        }

        nav {
            justify-content: center;

            width: 100%;

            ul {
                padding: 0;

                li {
                    text-align: center;
                }
            }

            @include mixins.tablets {
                justify-content: right;
            }
        }

        @include mixins.tablets {
            flex-direction: row;
        }
    }
}

footer {
    width: 100%;

    margin-left: auto;
    margin-right: auto;

    background-color: variables.$footer-bg;
    display: flex;
    align-items: center;
    justify-content: stretch;

    nav {
      ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;

        margin: 0;
        padding: 0;

        @include mixins.small-screens {
          gap: 1.5rem;
        }

        li {
          padding: 0;

          a {
            color: variables.$white;
            text-align: center;
            text-decoration: none;
          }
        }
      }
    }

    img.dev8-logo {
        
        height: 45px;
    }

    img.facebook-logo {
        
        width: 20px;
        height: 20px;
    }

    .container {
        align-items: center;
        padding: 5% 5%;

        @include mixins.tablets {
            padding: 1% 3%;
        }
    
        @include mixins.xlarge-screens {
            padding: 1% 2%;
        }

        img {
            flex: initial;
        }
    }
}

nav {
  box-sizing: border-box;
  width: 50%;

  display: flex;
  justify-content: center;
  flex: auto;

  ul {
    padding: 0;

    li {
      display: inline;
      padding: 16px;

      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-weight: 400;
      font-style: normal;

      a {
        color: variables.$dev8-black;
        text-decoration: none;

        &:hover {
          color: variables.$dev8-green;
          text-decoration: underline;
        }

      }

      a.active {
        color: variables.$dev8-green;
        font-weight: 700;
        text-decoration: underline;
      }

    }
  }
}


.container {
  width: 100%; // Expands the div to the entire width of parent.
  max-width: 1440px;

  // Makes sure the paddings and margins are included in the computation
  // of the final width of the element. Otherwise, any element using this
  // class could overflow its parent, especially if the element is using
  // a CSS Grid.
  box-sizing: border-box;

  margin-left: auto;
  margin-right: auto;
  padding: 5%;

  @include mixins.tablets {
    padding: 3%;
  }

  @include mixins.xlarge-screens {
    padding: 3% 2%;
  }
}

.top-most {
    @include mixins.tablets {
        padding: 3%;
        padding-top: 0;
    }

    @include mixins.xlarge-screens {
        padding: 2%;
        padding-top: 0;
    }
}

.flex {
    display: flex;
}

.margin-left-auto {
  margin-left: auto !important;
}

.hide {
    // SVG gradients don't appear when shown from a hidden state if we use
    // use `display: none`. So, we're using `visibility: hidden` and a few
    // other properties instead.
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.blur {
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  user-select: none;

  h1, p, li, a {
    color: transparent !important;
  }

  a {
    pointer-events: none;
  }

  img {
    filter: blur(12px);
  }
}

div.image-with-texts {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include mixins.small-screens {
        flex-direction: row;
    }
}
